/* values for mobile & desktop */

#title, #smallTitle, #loginBtn {
color:var(--main-headerTextColor);
font-weight: bold;
font-family: var(--main-font-Family-Verdana);
}

#smallTitle{
opacity: 85%;
}

#line {
opacity: 40%;
border: 1px #757575 solid;
}

#inp1, #inp2 {
height: 40px;
width: 250px;
font-size: 16px;

background-color: var(--main-backgroundColor2);
color: var(--main-textColorDark);
border-radius: 8px;
border: 1px var(--main-backgroundColor1) solid;
}

#loginBtn {
height: 40px;
width: 150px;
font-size: 20px;

background-color: var(--main-backgroundColor1);
color: var(--main-textColorLight);
border-radius: 8px;
border: 1px var(--main-backgroundColor1) solid;
}

::placeholder {
color: var(--main-textColorDark);
font-family: var(--main-font-Family-Verdana);
font-size: 16px;
opacity: 85%;
}

#rmbrMeBtn {
height: 20px;
width: 20px;
}

#rmbrMeTxt, #respMsg, #noAccBtn {
color: var(--main-textColorDark);
font-family: var(--main-font-Family-Verdana);
font-size: 16px;
}

#logo, #line, #inp1, #inp2, #rmbrMeBtn, #rmbrMeTxt, #respMsg, #loginBtn, #noAccBtn {
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}

.clearCacheButton {
background-color: transparent;
border: transparent;
color: var(--main-textColorDark);
text-align: center;
font-size: 16px;
font-weight: bold;
}

/* end of mobile & desktop */