/* values for mobile & desktop */

#title, #createdBy {
font-weight: bold;
}

#title, #createdBy, #subscriberCount, #visibilityStatus {
color: var(--main-headerTextColor);
font-family: var(--main-font-Family-Verdana);
}

#createdBy, #subscriberCount, #visibilityStatus {
opacity: 85%;
}

#c2r1 {
margin-top: 10px;
}

#c1r1 {
border-top: var(--main-borderHeader);
}

#c1r2, #c2r1 {
/*border-top: 1px #75757585 solid;*/
border-top: var(--main-border);
}

/* end of mobile & desktop */