/* elements for mobile & desktop */



#title {
color:var(--main-headerTextColor);
font-weight: bold;
font-family: var(--main-font-Family-Verdana);
}

#peopleLeaderboardsTxt {
font-size: 18px;
font-weight: bold;
color:var(--main-textColorDark);
font-family: var(--main-font-Family-Verdana);
}

#line {
opacity: 40%;
border: 1px #757575 solid;
}

#feed, #leaderboards, #account, #line  {
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}

#peopleLeaderboardsList {
text-align: center;
margin-left: 5vw;
margin-right: 5vw;
}

#c6r2 {
padding-top: 5px;
font-size: 14px;
text-align: center;
}

#c1r2 {
border-top: 1px #75757585 solid;
}

#Gtitle {
border-bottom: 1px #75757585 solid;
}

.leaderboardsList {
word-break: keep-all;
margin-right: 10px;
font-size: 18px;
font-weight: bold;
font-family: var(--main-font-Family-Verdana);

background-color: var(--main-backgroundColor1);
color: #e1e1e1c7;
border-radius: 8px;
border: 1px var(--main-backgroundColor1) solid;
box-shadow: 4px 4px rgba(53,127,155, 0.4);

height: 35px;
width: fit-content;
}

.active {
    color: var(--main-textColorLight);
}

/* end of mobile & desktop */