/* elements for mobile & desktop */


#title {
color:var(--main-headerTextColor);
font-weight: bold;
font-family: var(--main-font-Family-Verdana);
}

#peopleLeaderboardsTxt {
font-size: 18px;
font-weight: bold;
color:var(--main-textColorDark);
font-family: var(--main-font-Family-Verdana);
}

#line {
opacity: 40%;
border: var(--main-lineBorder);
}

#feed, #leaderboards, #account, #line  {
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}

#peopleLeaderboardsList {
text-align: center;
margin-left: 5vw;
margin-right: 5vw;
}

#c6r2 {
padding-top: 5px;
font-size: 14px;
text-align: center;
}

#c1r2 {
border-top: 1px #75757585 solid;
}

#c2r1 {
border-top: 1px #75757585 solid;
}

.leaderboardsList {
word-break: keep-all;
margin-right: 10px;
font-size: 18px;
font-weight: bold;
font-family: var(--main-font-Family-Verdana);

background-color: var(--main-backgroundColor1);
color: #e1e1e1c7;
border-radius: 8px;
border: 1px var(--main-backgroundColor1) solid;
box-shadow: var(--main-boxShadow);

height: 35px;
width: fit-content;
}

.active {
color: var(--main-textColorLight);
}

.medals {
height: 30px;
width: 30px;

outline-style: none; 
-webkit-touch-callout: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.medalIconGold {
fill: #FFD700;
}

.medalIconSilver {
fill: #C0C0C0;
}

.medalIconBronze {
fill: #CD7F32;
}

/* end of mobile & desktop */