/* elements, grid and other for mobile */

/*@media only screen and (max-width: 1024px) {*/ /* 768px var før, men passer bedre med 1024px for ipad */

/* grid */


body>#page {
overflow-y: auto;
display: grid;
width: 100vw;
height: 100vh;
grid-template-areas:

"c1r1 c1r1 c1r1 c1r1 c1r1 c1r1 c1r1"
"Gtitle Gtitle Gtitle Gtitle Gtitle Gtitle Gtitle"
"c2r1 c2r1 c2r1 c2r1 c2r1 c2r1 c2r1"
"GlistOfLeaderboards GlistOfLeaderboards GlistOfLeaderboards GlistOfLeaderboards GlistOfLeaderboards GlistOfLeaderboards GlistOfLeaderboards"
"Gline Gline Gline Gline Gline Gline Gline"
"GpeopleLeaderboardsTxt GpeopleLeaderboardsTxt GpeopleLeaderboardsTxt GpeopleLeaderboardsTxt GpeopleLeaderboardsTxt GpeopleLeaderboardsTxt GpeopleLeaderboardsTxt"
"c3r1 c3r1 c3r1 c3r1 c3r1 c3r1 c3r1"
"GpeopleLeaderboardsList GpeopleLeaderboardsList GpeopleLeaderboardsList GpeopleLeaderboardsList GpeopleLeaderboardsList GpeopleLeaderboardsList GpeopleLeaderboardsList"
"c4r1 c4r1 c4r1 c4r1 c4r1 c4r1 c4r1"

"c1r2 c1r2 c1r2 c1r2 c1r2 c1r2 c1r2"
"c2r2 Gfeed c3r2 Gleaderboards c4r2 Gaccount c5r2"
"c6r2 c6r2 c6r2 c6r2 c6r2 c6r2 c6r2"
;

grid-template-rows: /* nedover */

3vh /* c1r1 */

auto /* title */

2vh /* c2r1 */

55px /* GlistOfLeaderboards */

2vh /* line */

30px /* GpeopleLeaderboardsTxt */

6vh /* c3r1 */

1fr /* GpeopleLeaderboardsList */

3vh /* c4r1 */

var(--main-footerHeightTop) /* c1r2 */

var(--main-footerIconHeight) /* Glinks */

var(--main-footerHeightBottom) /* c2r2 */
;

grid-template-columns: /* bortover */
12vw auto 1fr auto 1fr auto 12vw;
}



/* end of grid */



/* elements */


#Gtitle>#title {

}

#title {
font-size: 34px;
}

#title, #name, #smallTitle, #listOfLeaderboards, #peopleLeaderboardsTxt {
margin-right: 20px;
margin-left: 20px;
}

#GpeopleLeaderboardsTxt > #peopleLeaderboardsTxt {
font-size: 16px;
}

#GpeopleWorkoutTxt > #peopleWorkoutTxt {
font-size: 16px;
}

#GlistOfLeaderboards > #listOfLeaderboards {

}

#Gline > #line {
margin-left: 20px;
margin-right: 20px;
}


/* end of elements */



/* spacing & other */


#page > #c1r1 {
grid-area: c1r1;
}


#page > #Gtitle {
grid-area: Gtitle;
margin-bottom: 6vh;
}

#page > #c2r1 {
grid-area: c2r1;
}

#page > #GlistOfLeaderboards {
grid-area: GlistOfLeaderboards;
overflow-x: auto;
}

#page > #c3r1 {
grid-area: c3r1;
}

#page > #c4r1 {
grid-area: c4r1;
}

#page > #GpeopleLeaderboardsTxt {
grid-area: GpeopleLeaderboardsTxt;
}

#page > #Gline {
grid-area: Gline;
}

#page > #GpeopleLeaderboardsList {
grid-area: GpeopleLeaderboardsList;
overflow-y: auto;
min-height: 120px;
}



#page > #c1r2 {
grid-area: c1r2;
}

#page > #c2r2 {
grid-area: c2r2;
}

#page > #Gfeed {
grid-area: Gfeed;
}

#page > #c3r2 {
grid-area: c3r2;
}

#page > #Gleaderboards {
grid-area: Gleaderboards;
}

#page > #c4r2 {
grid-area: c4r2;
}

#page > #Gaccount {
grid-area: Gaccount;
}

#page > #c5r2 {
grid-area: c5r2;
}

#page > #c6r2 {
grid-area: c6r2;
}


#c2r1, #c3r1, #c4r1, #c5r1, #GpeopleLeaderboardsTxt, #Gline, #GlistOfLeaderboards, #GpeopleLeaderboardsList {
background-color: var(--main-backgroundColor2);
}

#c1r2, #c2r2, #Gfeed, #c3r2, #Gleaderboards, #c4r2, #Gaccount, #c5r2, #c6r2 {
background-color: var(--main-backgroundColor3);
}



/* end of spacing & other */

/*}*/