#askForAccess{
              background: 
              linear-gradient(rgb(0, 48, 32, 1),rgb(17, 17, 17, 1));
              position: fixed;
              padding: 3vh 3vw;
              top: 50%;
              left: 50%;
              border-radius: 5%;
              transform: translate(-50%, -50%);
}
#displayname, #username, #psw, #confirmPsw{
               font-weight: bold;
               margin: 1vh 1vw;
               border: none;
               border-radius: 10px;
               padding: 3px;
}
#giveAccess{
            font-weight: bold;
            margin: 1vh 1vw;
            border: none;
            color: white;
            background-color: rgb(0, 124, 85);
            padding: 5px 42px;
            border-radius: 10px;
                         
            
}
#askForAccesMsg{
                display: flex;
                position: fixed;
                color: white;
                top: 68%;
                left: 50%;
                transform: translate(-68%, -50%); 
                
}