/* values for mobile & desktop */

body {
word-break: keep-all;
background-color: var(--main-backgroundColor3);
}

#backBtn {
margin-left: 20px;
}

#title {
color: var(--main-textColorDark);
font-weight: bold;
font-family: var(--main-font-Family-Verdana);
text-align: center;
margin-left: 20px;
margin-right: 20px;
}

#c2r1 {
/*border-bottom: 1px #75757585 solid;*/
border-bottom: var(--main-border);
}

/* end of mobile & desktop */