/* elements for mobile & desktop */



#title, #name, #smallTitle {
color:var(--main-headerTextColor);
font-weight: bold;
font-family: var(--main-font-Family-Verdana);
}

#today {
    font-weight: bold;
}

#today, #peopleWorkoutTxt {
color:var(--main-textColorDark);
font-family: var(--main-font-Family-Verdana);
}

#smallTitle{
opacity: 85%;
}

#line {
opacity: 40%;
border: 1px #757575 solid;
}

#line, #peopleWorkoutList, #feed, #leaderboards, #account  {
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}

#c1r2, #c4r1 {
    border-top: 1px #75757585 solid;
}



/* end of mobile & desktop */