/* elements for mobile & desktop */



#title, #name, #smallTitle {
color:var(--main-headerTextColor);
font-weight: bold;
font-family: var(--main-font-Family-Verdana);
}

#today {
font-weight: bold;
}

#today, #peopleWorkoutTxt {
color:var(--main-textColorDark);
font-family: var(--main-font-Family-Verdana);
}

#smallTitle{
opacity: 85%;
}

#line {
opacity: 40%;
border: var(--main-lineBorder);
}

#line, #peopleWorkoutList, #feed, #leaderboards, #account  {
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}

#c6r2 {
padding-top: 5px;
font-size: 14px;
text-align: center;
}

#c1r2, #c4r1 {
border-top: 1px #75757585 solid;
}

.peopleWorkoutListWorkout {
font-size: 16px;
color:var(--main-headerTextColor);
font-weight: bold;
font-family: var(--main-font-Family-Verdana);

background-color: var(--main-backgroundColor1);
color: var(--main-textColorLight);
border-radius: 8px;
border: 1px var(--main-backgroundColor1) solid;
box-shadow: var(--main-boxShadow);

height: 34px;
width: fit-content;
padding-left: 30px;
padding-right: 30px;
margin-bottom: 10px;
margin-top: 10px;
}

.peopleWorkoutListName {
color: var(--main-textColorDark);
}

.accountOwner {
color: var(--main-accountOwnerColor);
font-weight: bold;
}

.peopleWorkoutListName, .accountOwner {
font-size: 15px;
font-family: var(--main-font-Family-Verdana);

margin-bottom: 5px;
margin-top: 5px;
background-color: transparent;
border: transparent;
}

.medals {
height: 40px;
width: 40px;
margin-left: 10px;
margin-top: 6px;

outline-style: none; 
-webkit-touch-callout: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.medalIconGold {
fill: #FFD700;
}

/* progress bar */

.track {
stroke-width: 5;
stroke: lightgray;
opacity: 40%;
fill: none;
}

.progress {
stroke-width: 5;
stroke: rgb(0, 253, 55);
stroke-linecap: round;
fill: none;
transform: rotate(270deg);
transform-origin: center;
}

.pstart {
stroke: red;
}

.p20 {
stroke: rgb(247, 42, 42);
}

.p30 {
stroke: rgb(228, 228, 113);
}

.p40 {
stroke: rgb(236, 236, 80);
}

.p50 {
stroke: yellow;
}

.p60 {
stroke: rgb(109, 223, 109);
}

.p70 {
stroke: rgb(94, 228, 94);
}

.p80 {
stroke: rgb(48, 226, 48);
}

.p90 {
stroke: rgb(1, 233, 1);
}

/* end of progress bar */

/* end of mobile & desktop */