/* elements for mobile & desktop */



#title, #name, #smallTitle {
color:var(--main-headerTextColor);
font-weight: bold;
font-family: var(--main-font-Family-Verdana);
}

#today {
font-weight: bold;
}

#today, #peopleWorkoutTxt {
color:var(--main-textColorDark);
font-family: var(--main-font-Family-Verdana);
}

#smallTitle{
opacity: 85%;
}

#line {
opacity: 40%;
border: var(--main-lineBorder);
}

#line, #peopleWorkoutList, #feed, #leaderboards, #account  {
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}

#c6r2 {
padding-top: 5px;
font-size: 14px;
text-align: center;
}

#c1r2, #c4r1 {
border-top: 1px #75757585 solid;
}

.peopleWorkoutListWorkout {
font-size: 18px;
color:var(--main-headerTextColor);
font-weight: bold;
font-family: var(--main-font-Family-Verdana);

background-color: var(--main-backgroundColor1);
color: var(--main-textColorLight);
border-radius: 8px;
border: 1px var(--main-backgroundColor1) solid;
box-shadow: var(--main-boxShadow);

height: 35px;
width: fit-content;
padding-left: 30px;
padding-right: 30px;
margin-bottom: 10px;
margin-top: 10px;
}

.peopleWorkoutListName {
color: var(--main-textColorDark);
}

.accountOwner {
color: var(--main-accountOwnerColor);
font-weight: bold;
}

.peopleWorkoutListName, .accountOwner {
font-size: 16px;
font-family: var(--main-font-Family-Verdana);

margin-bottom: 5px;
margin-top: 5px;
background-color: transparent;
border: transparent;
}



/* end of mobile & desktop */