/* elements, grid and other for mobile */

/*@media only screen and (max-width: 1024px) {*/ /* 768px var før, men passer bedre med 1024px for ipad */

/* grid */

.overlay {
text-align: center;
position: fixed;
z-index: 2;
background-color: rgba(0, 0, 0, 0.6);
height: 100%;
width: 100%;
}

.inputLiftOrGoal { 
text-align: center;
}


.overlay>.viewLiftorGoal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
width: 90%;
max-width: 550px;
height: 70%;
overflow-y: scroll;

background-color: var(--main-backgroundColor2);

border: 1px solid var(--main-backgroundColor1);
border-radius: 16px;

display: grid;
grid-template-areas:

"c1oE c1oE c1oE"
"Gtitle1E Gtitle1E Gtitle1E"
"Gline1E Gline1E Gline1E"
"c2oE c2oE c2oE"

"Gtitle2E Gtitle2E Gtitle2E"
"Gline2E Gline2E Gline2E"
"Ginp1E Ginp1E Ginp1E"
"c3oE c3oE c3oE"

"Gtitle3E Gtitle3E Gtitle3E"
"Gline3E Gline3E Gline3E"
"Ginp2E Ginp2E Ginp2E"
"c4oE c4oE c4oE"

"Gtitle4E Gtitle4E Gtitle4E"
"Gline4E Gline4E Gline4E"
"Ginp3E Ginp3E Ginp3E"
"c5oE c5oE c5oE"

"Gtitle5E Gtitle5E Gtitle5E"
"Gline5E Gline5E Gline5E"
"Ginp4E Ginp4E Ginp4E"
"c6oE c6oE c6oE"

"GcancelE c7oE c7oE"
"c8oE c8oE c8oE"
;

grid-template-rows: /* nedover */

2vh /* c1oE */

30px /* Gtitle1E */

10px /* Gline1E */

1fr /* c2oE */



25px /* Gtitle2E */

10px /* Gline2E */

auto /* Ginp1E */

4vh /* c3oE */



25px /* Gtitle3E */

10px /* Gline3E */

auto /* Ginp2E */

4vh /* c4oE */



25px /* Gtitle4E */

10px /* Gline4E */

auto /* Ginp3E */

4vh /* c5oE */


25px /* Gtitle5E */

10px /* Gline5E */

auto /* Ginp4E */

1fr /* c6oE */


40px /* GbuttonsE */

2vh /* c7oE */

;

grid-template-columns: /* bortover */
1fr 1fr 1fr;
}



/* end of grid */



/* elements */





#Gtitle1E > #title1E {
font-size: 22px;
}

#Gline1E > #line1E {
width: 250px;
}

#Gline2E > #line2E {
}

#Gline3E > #line3E {
}

#Gline4E > #line4E {
}

#Gline5E > #line5E {
}

#Ginp1E > #inp1E {
}

#Ginp2E > #inp2E {
}

#Ginp3E > #inp3E {
}

#Ginp4E > #inp4E {
}

#GcancelE > #cancelE {
}

#cancelE {
font-size: 16px;
font-weight: bold;
height: 30px;

background-color: rgb(212, 212, 212);
border-radius: 4px;
border: transparent;
}

#inp1E, #inp2E, #inp3E, #inp4E {
color: var(--main-textColorDark);
font-family: var(--main-font-Family-Verdana);
font-size: 16px;
}

#line2E, #line3E, #line4E, #line5E {
width: 125px;
}

#Gtitle2E > #title2E {
}

#Gtitle3E > #title3E {
}

#Gtitle4E > #title4E {
}

#Gtitle5E > #title5E {
}

#title2E, #title3E, #title4E, #title5E  {
font-size: 18px;
}

#title1E, #title2E, #title3E, #title4E, #title5E {
color: var(--main-textColorDark);
font-family: var(--main-font-Family-Verdana);
font-weight: bold;
}


#line1E, #line2E, #line3E, #line4E, #line5E {
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;

opacity: 40%;
border: var(--main-lineBorder);
}



/* end of elements */



/* spacing & other */

.viewLiftorGoal > #c1oE {
grid-area: c1oE;
}

.viewLiftorGoal > #Gtitle1E {
grid-area: Gtitle1E;
}

.viewLiftorGoal > #Gline1E {
grid-area: Gline1E;
}

.viewLiftorGoal > #c2oE {
grid-area: c2oE;
}

.viewLiftorGoal > #Gtitle2E {
grid-area: Gtitle2E;
}

.viewLiftorGoal > #Gline2E {
grid-area: Gline2E;
}

.viewLiftorGoal > #Ginp1E {
grid-area: Ginp1E;
}

.viewLiftorGoal > #c3oE {
grid-area: c3oE;
}

.viewLiftorGoal > #Gtitle3E {
grid-area: Gtitle3E;
}

.viewLiftorGoal > #Gline3E {
grid-area: Gline3E;
}

.viewLiftorGoal > #Ginp2E {
grid-area: Ginp2E;
}

.viewLiftorGoal > #c4oE {
grid-area: c4oE;
}

.viewLiftorGoal > #Gtitle4E {
grid-area: Gtitle4E;
}

.viewLiftorGoal > #Gline4E {
grid-area: Gline4E;
}

.viewLiftorGoal > #Ginp3E {
grid-area: Ginp3E;
}

.viewLiftorGoal > #c5oE {
grid-area: c5oE;
}

.viewLiftorGoal > #Gtitle5E {
grid-area: Gtitle5E;
}

.viewLiftorGoal > #Gline5E {
grid-area: Gline5E;
}

.viewLiftorGoal > #Ginp4E {
grid-area: Ginp4E;
}

.viewLiftorGoal > #c6oE {
grid-area: c6oE;
}

.viewLiftorGoal > #GcancelE {
grid-area: GcancelE;
}

.viewLiftorGoal > #c7oE {
grid-area: c7oE;
}

.viewLiftorGoal > #c8oE {
grid-area: c8oE;
}

/* end of spacing & other */


/*}*/