.lightMode {
  --main-themeColor: lightgray;
  --main-avatarColor: white;
  --main-background-color: white;
  --main-textColor: black;
  --main-filter: invert(0);
}

.darkMode {
  --main-themeColor: rgb(15, 15, 15);
  --main-avatarColor:rgb(22, 21, 21);
  --main-background-color: rgb(22, 21, 21);
  --main-textColor: white;
  --main-filter: invert(1);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  color: var(--main-textColor);
}

/*template:
https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas
*/

#homePage {
  background-image: url("images/background-smallBlur.png");
  background-size: cover;
  background-color: var(--main-themeColor);
  display: grid;
  width: 100vw;
  height: 100vh;
  
  grid-template-areas: "c1r1 c1r1 c1r1 c1r1 c1r1 c1r1 c1r1"
                       "c1r1 c1r1 c1r1 c1r1 c1r1 c1r1 c1r1"
                       "c2r1 c2r1 titleG c3r1 avatarG c4r1 c4r1"
                       "c5r1 c5r1 c5r1 c5r1 c5r1 c5r1 c5r1"
                       
                       "e2r1 e1r2 e1r2 e1r2 e1r2 e1r2 e4r1"

                       "e2r1 e2r2 c1r2 c1r2 c1r2 e4r2 e4r1"
                       "e2r1 e2r2 usermsg1G usermsg1G usermsg1G e4r2 e4r1"
                       "e2r1 e2r2 c2r2 c2r2 c2r2 e4r2 e4r1"
                       "e2r1 e2r2 usermsg2G usermsg2G usermsg2G e4r2 e4r1"
                       "e2r1 e2r2 c3r2 c3r2 c3r2 e4r2 e4r1"
                       "e2r1 e2r2 usermsg3G usermsg3G usermsg3G e4r2 e4r1"
                       "e2r1 e2r2 c4r2 boardG c5r2 e4r2 e4r1"
                       "e2r1 e2r2 c6r2 c6r2 c6r2 e4r2 e4r1"
                       "e2r1 e2r2 gymtimeG gymtimeG gymtimeG e4r2 e4r1"
                       "e2r1 e2r2 gymtimesmallG gymtimesmallG gymtimesmallG e4r2 e4r1"
                       "e2r1 e2r2 c7r2 c7r2 c7r2 e4r2 e4r1"

                       "e2r1 e3r2 e3r2 e3r2 e3r2 e3r2 e4r1"

                       "c1r3 c1r3 c1r3 c1r3 c1r3 c1r3 c1r3"
                       "c2r3 footermenuG footermenuG footermenuG footermenuG footermenuG c4r3"

                       "c3r3 c3r3 c3r3 c3r3 c3r3 c3r3 c3r3";
                       
    grid-template-rows: 5px 5px 60px 5px 3.5% 5px 5% 5% 5% 5% 7.5% 1fr 5% 25px 5% 5px 3.5% 5px 60px 5px; /*nedover*/
    grid-template-columns: 5px 4% 60px 1fr 60px 4% 5px; /*bortover*/
}

/* grid for elements */

#homePage > #titleG {
  grid-area: titleG;
  background-color: var(--main-themeColor);
}

#homePage > #avatarG {
  grid-area: avatarG;
  background-color: var(--main-themeColor);
}


#homePage > #usermsg1G {
  grid-area: usermsg1G;
  background-color: var(--main-background-color);
  border-left: 2px solid;
}

#homePage > #usermsg2G {
  grid-area: usermsg2G;
  background-color: var(--main-background-color);
  border-left: 2px solid;
}

#homePage > #usermsg3G {
  grid-area: usermsg3G;
  background-color: var(--main-background-color);
}

#homePage > #boardG {
  grid-area: boardG;
  background-color: var(--main-themeColor);
  overflow-y: scroll;
  border: 2px solid;
  min-height: 50px;
}

#homePage > #gymtimeG {
  grid-area: gymtimeG;
  background-color: var(--main-background-color);
}

#homePage > #gymtimesmallG {
  grid-area: gymtimesmallG;
  background-color: var(--main-background-color);
}

#homePage > #footermenuG {
  grid-area: footermenuG;
  background-color: var(--main-themeColor);
}


/* elements */

/* header */

#titleG > #title {
  position: absolute;
  font-size: 35px;
}

#title, #avatar {
  font-weight: bold;
  text-align: center;
}

#avatarG > #avatar {
  position: absolute;

  background-color: var(--main-avatarColor);
  border-radius: 50px;
  border: 2px solid;
  width: 47.5px;
  font-size: 40px;
  /*right: 15px;*/ /* evt bruke dette til å flytte avatar ikonet */
}

/* */


/* content/middle */

#usermsg1G > #usermsg1 {
  position: absolute;
  font-size: 22px;
  margin: 10px;
  margin-left: 15px;
}

#usermsg2G > #usermsg2 {
  position: absolute;
  font-size: 18px;
  margin: 10px;
  margin-left: 15px;
}

#usermsg3G > #usermsg3 {
  font-weight: bold;
  width: 100%;
  font-size: 20px;
  text-align: center;
}

#boardG > #board {
  width: 100%;
  text-align: center;
}

#gymtimeG > #gymtime {
  width: 100%;
  font-size: 18px;
  text-align: center;
}

#gymtimesmallG > #gymtimesmall {
  width: 100%;
  font-size: 14px;
  text-align: center;
}



/* */



/* footer */

#footermenuG > #footermenu {
  width: 100%;
  text-align: center;
}

#footerIconHome, #footerIconLeaderboards, #footerIconUsers {
  min-height: 33px;
  -webkit-filter: var(--main-filter);
  filter: var(--main-filter);
}

/* */





/* finished */

/*empty space padding*/

#homePage > #e1r1 {
  grid-area: e1r1;
  }
  #homePage > #e2r1 {
  grid-area: e2r1;
  }
  
  #homePage > #e3r1 {
  grid-area: e3r1;
  }
  
  #homePage > #e4r1 {
  grid-area: e4r1;
  }
  
  /**/
  
  #homePage > #e1r2 {
  grid-area: e1r2;
  }
  
  #homePage > #e2r2 {
  grid-area: e2r2;
  }
  
  #homePage > #e3r2 {
  grid-area: e3r2;
  }
  
  #homePage > #e4r2 {
  grid-area: e4r2;
  }
  
  /* */
  
  /* content */
  
  /* header */
  
  #homePage > #c1r1 {
    grid-area: c1r1;
  }
  
  #homePage > #c2r1 {
    grid-area: c2r1;
  }
  
  #homePage > #c3r1 {
    grid-area: c3r1;
  }
  
  #homePage > #c4r1 {
    grid-area: c4r1;
  }
  
  #homePage > #c5r1 {
    grid-area: c5r1;
    border-bottom: 2px solid;
  }
  
  #c1r1, #c2r1, #c3r1, #c4r1, #c5r1 {
    background-color: var(--main-themeColor);
}

/* content/middle */

#homePage > #c1r2 {
  grid-area: c1r2;
  border-radius: 30px 30px 0 0; /* border radius til content */
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
}

#homePage > #c2r2 {
  grid-area: c2r2;
  border-left: 2px solid;
}

#homePage > #c3r2 {
  grid-area: c3r2;
}

#homePage > #c4r2 {
  grid-area: c4r2;
}

#homePage > #c5r2 {
  grid-area: c5r2;
}

#homePage > #c6r2 {
  grid-area: c6r2;
}

#homePage > #c7r2 {
  grid-area: c7r2;
  border-radius: 0 0 30px 30px; /* border radius til content */
}


#c1r2, #c2r2, #c3r2, #c4r2, #c5r2, #c6r2, #c7r2 {
  background-color: var(--main-background-color);
}

/* footer */

#homePage > #c1r3 {
  grid-area: c1r3;
  border-top: 2px solid;
  }
  
  #homePage > #c2r3 {
    grid-area: c2r3;
  }

  #homePage > #c3r3 {
    grid-area: c3r3;
  }

  #homePage > #c4r3 {
    grid-area: c4r3;
  }
  
  #c1r3, #c2r3, #c3r3, #c4r3 {
    background-color: var(--main-themeColor);
  }
  
  /* */