:root {
  --main-color: hotpink;
--main-firstBackground-color: lightgreen;
--main-background-color: white;
  --pane-padding: 5px 42px;
}


#avatarText, #title {
font-size: 6vw;
font-weight: bold;
padding: 0.5vh;
}

#title {
-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#avatarText {
border-radius: 50%;
border: 0.25vh solid;
padding: 0.5vh 3vw;
}

.k-smallText {
font-size: 4vw;
}

.k-smallIcon {
font-size: 6vw;
}

.k-smallIconHome {
font-size: 7vw;
}

body{
//background-color: var(--main-firstBackground-color);
background-image: url("images/background.png");
background-attachment: fixed;
  background-color: grey;
  background-size: cover;
/*background-size: cover;
height: 100%;
width: 100%;*/

}

#img {
//user-select: none;
}