/*VERSION 1*/
:root {
   --main-color: lightgray;
   --main-firstBackground-color: lightgreen;
   --main-background-color: white;
   /*--main-marginFromLeftOrRight: 3vw;*/
   --main-marginFromLeftOrRight: 2.5%;
   --main-themeColor: lightgray;
   --main-backgroundThemeColor: white;
   --main-bodyBackgroundColor: var(--main-themeColor);
}


body {
   background-color: var(--main-bodyBackgroundColor);
   background-image: url(images/background-smallBlur.png);
   text-align: center;
   font-size: 28px;
   margin: 0;
}

#container {
   display: grid;
   height: auto;
   min-height: 100vh;
   grid-template-columns: 5% 1fr 5%;
   grid-template-rows: 1fr 5% 70% 5% 1fr;
}

@media (orientation: landscape) { /*liggende*/
   /*#header {
       grid-column-start: 1;
       grid-column-end: 9;
       grid-row-start: 1;
       grid-row-end: 1;
       background-color: orange;
       border: 1px solid black;
   }
   #content {
      grid-column-start: 2;
      grid-column-end: 8;
      grid-row-start: 3;
      grid-row-end: 6;
      background-color:peru;
      border: 1px solid black;
      overflow-y: auto;
  }
   #footer {
       grid-column-start: 1;
       grid-column-end: 9;
       grid-row-start: 7;
       grid-row-end: 8;
       background-color: lightpink;
       border: 1px solid black;
   }*/
}


/*@media (orientation: portrait)*/
@media screen and (max-width: 1100px) { /*for iphone, ipad osv*/

   .headerText, .footerText {
      display: inline-block;
   }

   #avatar, #home, #leaderboards, #users {
      cursor: pointer;
   }

   .footerText {
      margin: 10px;
      margin-left: var(--main-marginFromLeftOrRight);
      margin-right: var(--main-marginFromLeftOrRight);
      font-size: 22px;
   }

   #title, #home {
      float: left;
      /*margin-left: var(--main-marginFromLeftOrRight);*/
   }

   #avatar {
      background: white;
      /*padding: 0.5vh 2.5vw;*/
      padding-left: 7.5px;
      padding-right: 7.5px;
      margin: 10px;
      border-radius: 50%;
      border: 2px solid;
      font-size: 40px
   }

   #title {
      margin: 10px;
      font-size: 32px;
   }

   #title, #avatar {
      font-weight: bold;
      margin-left: var(--main-marginFromLeftOrRight);
      margin-right: var(--main-marginFromLeftOrRight);
   }

   #title, #avatar, #home, #leaderboards, #users {
      -webkit-user-select: none; /* Safari */        
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
   }

   #avatar, #users {
      float: right;
      /*margin-right: var(--main-marginFromLeftOrRight);*/
   }

   #header {
       grid-column-start: 1;
       grid-column-end: 4;
       grid-row-start: 1;
       grid-row-end: 1;
       background-color: var(--main-themeColor);
       border: 1px solid black;
   }

   #userMessage {
      font-size: 24px;
      position: relative;
      margin-top: 2.5%;
      margin-left: var(--main-marginFromLeftOrRight);
      margin-right: var(--main-marginFromLeftOrRight);
   }

   #currentWorkout {
      font-size: 18px;
      position: relative;
      margin-top: 2.5%;
      margin-left: var(--main-marginFromLeftOrRight);
      margin-right: var(--main-marginFromLeftOrRight);
   }

   #peopleWorkout {
      position: relative;
      font-size: 20px;
      margin-top: 40%;
      margin-left: var(--main-marginFromLeftOrRight);
      margin-right: var(--main-marginFromLeftOrRight);
   }
   
   
   #isGymOpen {
      position: relative;
      margin: 0;
      font-size: 22px;
      bottom: -40.5%;
      /*margin-top: 180px;*/
      /*margin-left: var(--main-marginFromLeftOrRight);*/
      margin-left: var(--main-marginFromLeftOrRight);
      margin-right: var(--main-marginFromLeftOrRight);
   }

   #gymCloseTime {
      position: relative;
      font-size: 16px;
      bottom: -40.5%;
      margin-left: var(--main-marginFromLeftOrRight);
      margin-right: var(--main-marginFromLeftOrRight);
   }

   
   

   #content {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 3;
      background-color: var(--main-backgroundThemeColor);
      border: 1px solid black;
      overflow-y: scroll; /* kan endres til scroll for scroll feature, eller bruke dette for å se list */
      border-radius: 2.5%;
  }

   #footer {
       grid-column-start: 1;
       grid-column-end: 4;
       grid-row-start: 5;
       grid-row-end: 5;
       background-color: var(--main-themeColor);
       border: 1px solid black;
   }






   /*
   .headerText, .footerText {
      display: inline-block;
   }
   #avatar, #home, #leaderboards, #users {
      cursor: pointer;
   }
   .footerText {
      margin: 1vh;
      margin-left: var(--main-marginFromLeftOrRight);
      margin-right: var(--main-marginFromLeftOrRight);
   }
   #title, #home {
      float: left;  */
      /*margin-left: var(--main-marginFromLeftOrRight);*/
   /*}
   #avatar {
      background: white;  */
      /*padding: 0.5vh 2.5vw;*/
      /*padding-left: 2.5vw;
      padding-right: 2.5vw;
      margin: 1.5vh;
      border-radius: 50%;
      border: 2px solid;
      font-size: 40px;
   }
   #title {
      margin: 2vh;
      font-size: 34px;
   }
   #title, #avatar {
      font-weight: bold;
      margin-left: var(--main-marginFromLeftOrRight);
      margin-right: var(--main-marginFromLeftOrRight);
   }
   #title, #avatar, #home, #leaderboards, #users {
      -webkit-user-select: none; */ /* Safari */        
      /*-moz-user-select: none; *//* Firefox */
      /*-ms-user-select: none; */ /* IE10+/Edge */
      /*user-select: none; /* Standard */
   /*}
   #avatar, #users {
      float: right;
      /*margin-right: var(--main-marginFromLeftOrRight);*/
   /*}
   #header {
       grid-column-start: 1;
       grid-column-end: 4;
       grid-row-start: 1;
       grid-row-end: 1;
       background-color: var(--main-themeColor);
       border: 1px solid black;
   }
   #userMessage {
      font-size: 22px;
      float: left;
      margin-top: 2vh;
      margin-left: var(--main-marginFromLeftOrRight);
   }
   #currentWorkout {
      position: relative;
      font-size: 18px;
      margin-top: 10vh;
      
   }
   
   
   #isGymOpen {
      position: relative;
      margin: 0;
      font-size: 22px;
      margin-top: 30vh;
      /*margin-left: var(--main-marginFromLeftOrRight);*/
   /*}
   #peopleWorkout {
      font-size: 20px;
      margin-top: 12vh;
      
   }
   #gymCloseTime {
      position: relative;
      font-size: 16px;
   }
   #content {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 3;
      background-color: var(--main-backgroundThemeColor);
      border: 1px solid black;
      overflow-y: none; /* kan endres til scroll for scroll feature, eller bruke dette for å se list */
      /*border-radius: 2.5%;
  }
   #footer {
       grid-column-start: 1;
       grid-column-end: 4;
       grid-row-start: 5;
       grid-row-end: 5;
       background-color: var(--main-themeColor);
       border: 1px solid black;
   }*/
}