* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 22px;
}

/*template:
https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas
*/

#page {
  /*background-image: url("images/background-smallBlur.png");
  background-size: cover;*/
  display: grid;
  width: 100vw;
  height: 100vh;
  
  grid-template-areas: "e1r1 e1r1 e1r1 e1r1 e1r1 e1r1 e1r1"
                       "e2r1 c1r1 c1r1 c1r1 c1r1 c1r1 e4r1"
                       "e2r1 c2r1 titleG c3r1 avatarG c4r1 e4r1"
                       "e2r1 c5r1 c5r1 c5r1 c5r1 c5r1 e4r1"
                       
                       "e2r1 e1r2 e1r2 e1r2 e1r2 e1r2 e4r1"

                       "e2r1 e2r2 c1r2 c1r2 c1r2 e4r2 e4r1"
                       "e2r1 e2r2 c2r2 c2r2 c2r2 e4r2 e4r1"
                       "e2r1 e2r2 c2r2 c2r2 c2r2 e4r2 e4r1"
                       "e2r1 e2r2 c2r2 c2r2 c2r2 e4r2 e4r1"
                       "e2r1 e2r2 c2r2 c2r2 c2r2 e4r2 e4r1"
                       "e2r1 e2r2 c2r2 c2r2 c2r2 e4r2 e4r1"
                       "e2r1 e2r2 c2r2 c2r2 c2r2 e4r2 e4r1"
                       "e2r1 e2r2 c2r2 c2r2 c2r2 e4r2 e4r1"
                       "e2r1 e2r2 c2r2 c2r2 c2r2 e4r2 e4r1"

                       "e2r1 e3r2 e3r2 e3r2 e3r2 e3r2 e4r1"

                       "e2r1 c1r3 c1r3 c1r3 c1r3 c1r3 e4r1"
                       "e2r1 c2r3 c2r3 c2r3 c2r3 c2r3 e4r1"
                       "e2r1 c3r3 c3r3 c3r3 c3r3 c3r3 e4r1"

                       "e3r1 e3r1 e3r1 e3r1 e3r1 e3r1 e3r1";
                       
    grid-template-rows: 5px 5px 60px 5px 3.5% 5px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 5px 3.5% 5px 60px 5px 5px; /*nedover*/
    grid-template-columns: 5px 4% 60px 1fr 60px 4% 5px; /*bortover*/
}

/*empty space padding*/

#page > #e1r1 {
grid-area: e1r1;
background-color: red;
}
#page > #e2r1 {
grid-area: e2r1;
background-color: red;
}

#page > #e3r1 {
grid-area: e3r1;
background-color: red;
}

#page > #e4r1 {
grid-area: e4r1;
background-color: red;
}

/**/

#page > #e1r2 {
grid-area: e1r2;
background-color: darkred;
}

#page > #e2r2 {
grid-area: e2r2;
background-color: darkred;
}

#page > #e3r2 {
grid-area: e3r2;
background-color: darkred;
}

#page > #e4r2 {
grid-area: e4r2;
background-color: darkred;
}

/* */

/* content */

/* 1 */

#page > #c1r1 {
grid-area: c1r1;
background-color: blue;
}

#page > #c2r1 {
  grid-area: c2r1;
  background-color: black;
}

#page > #c3r1 {
  grid-area: c3r1;
  background-color: yellow;
}

#page > #c4r1 {
  grid-area: c4r1;
  background-color: green;
}

#page > #c5r1 {
  grid-area: c5r1;
  background-color: blue;
}

/* 2 */

#page > #c1r2 {
grid-area: c1r2;
background-color: cyan;
}

#page > #c2r2 {
  grid-area: c2r2;
  background-color: black;
  }

/* 3 */

#page > #c1r3 {
grid-area: c1r3;
background-color: lightgreen;
}

#page > #c2r3 {
  grid-area: c2r3;
  background-color: black;
}

#page > #c3r3 {
  grid-area: c3r3;
  background-color: lightgreen;
}

/* */

/* grid for elements */

#page > #titleG {
  grid-area: titleG;
  background-color: cadetblue;
}

#page > #avatarG {
  grid-area: avatarG;
  background-color: cadetblue;
}


/* elements */

#titleG > #title {
  position: absolute;
}

#title, #avatar {
  font-weight: bold;
  font-size: 40px;
  color: white;
}

#avatarG > #avatar {
  position: absolute;
}