:root {
  --test-gridElementBackgroundColor: lightgray;
  --test-elementBackgroundColor: cadetblue;
  /* cadetblue */
  /* transparent var(--test-gridElementBackgroundColor) */
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 22px;
}

/*template:
https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas
*/

#page {
  /*background-image: url("images/background-smallBlur.png");
  background-size: cover;*/
  display: grid;
  width: 100vw;
  height: 100vh;
  
  grid-template-areas: "e1r1 e1r1 e1r1 e1r1 e1r1 e1r1 e1r1"
                       "e2r1 c1r1 c1r1 c1r1 c1r1 c1r1 e4r1"
                       "e2r1 c2r1 titleG c3r1 avatarG c4r1 e4r1"
                       "e2r1 c5r1 c5r1 c5r1 c5r1 c5r1 e4r1"
                       
                       "e2r1 e1r2 e1r2 e1r2 e1r2 e1r2 e4r1"

                       "e2r1 e2r2 c1r2 c1r2 c1r2 e4r2 e4r1"
                       "e2r1 e2r2 usermsg1G c2r2 c2r2 e4r2 e4r1"
                       "e2r1 e2r2 c3r2 c3r2 c3r2 e4r2 e4r1"
                       "e2r1 e2r2 usermsg2G c4r2 c4r2 e4r2 e4r1"
                       "e2r1 e2r2 c5r2 c5r2 c5r2 e4r2 e4r1"
                       "e2r1 e2r2 c6r2 usermsg3G c7r2 e4r2 e4r1"
                       "e2r1 e2r2 c8r2 boardG c9r2 e4r2 e4r1"
                       "e2r1 e2r2 c10r2 c10r2 c10r2 e4r2 e4r1"
                       "e2r1 e2r2 c11r2 gymtimeG c12r2 e4r2 e4r1"
                       "e2r1 e2r2 c13r2 gymtimesmallG c14r2 e4r2 e4r1"
                       "e2r1 e2r2 c15r2 c15r2 c15r2 e4r2 e4r1"

                       "e2r1 e3r2 e3r2 e3r2 e3r2 e3r2 e4r1"

                       "e2r1 c1r3 c1r3 c1r3 c1r3 c1r3 e4r1"
                       "e2r1 footermenuG footermenuG footermenuG footermenuG footermenuG e4r1"
                       "e2r1 c2r3 c2r3 c2r3 c2r3 c2r3 e4r1"

                       "e3r1 e3r1 e3r1 e3r1 e3r1 e3r1 e3r1";
                       
    grid-template-rows: 5px 5px 60px 5px 3.5% 5px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 7.5% 5% 5px 3.5% 5px 60px 5px 5px; /*nedover*/
    grid-template-columns: 5px 4% 60px 1fr 60px 4% 5px; /*bortover*/
}

/* grid for elements */

#page > #titleG {
  grid-area: titleG;
  background-color: var(--test-elementBackgroundColor);
}

#page > #avatarG {
  grid-area: avatarG;
  background-color: var(--test-elementBackgroundColor);
}


#page > #usermsg1G {
  grid-area: usermsg1G;
  background-color: var(--test-elementBackgroundColor);
}

#page > #usermsg2G {
  grid-area: usermsg2G;
  background-color: var(--test-elementBackgroundColor);
}

#page > #usermsg3G {
  grid-area: usermsg3G;
  background-color: var(--test-elementBackgroundColor);
}

#page > #boardG {
  grid-area: boardG;
  background-color: var(--test-elementBackgroundColor);
  overflow-y: scroll;
  border: 2px solid;
}

#page > #gymtimeG {
  grid-area: gymtimeG;
  background-color: var(--test-elementBackgroundColor);
}

#page > #gymtimesmallG {
  grid-area: gymtimesmallG;
  background-color: var(--test-elementBackgroundColor);
}

#page > #footermenuG {
  grid-area: footermenuG;
  background-color: var(--test-elementBackgroundColor);
}


/* elements */

/* header */

#titleG > #title {
  position: absolute;
  font-size: 35px;
}

#title, #avatar {
  font-weight: bold;
  text-align: center;
}

#avatarG > #avatar {
  position: absolute;

  background-color: white;
  border-radius: 50px;
  border: 2px solid;
  width: 47.5px;
  font-size: 40px;
  /*right: 15px;*/ /* evt bruke dette til å flytte avatar ikonet */
}

/* */


/* content/middle */

#usermsg1G > #usermsg1 {
  position: absolute;
}

#usermsg2G > #usermsg2 {
  position: absolute;
}

#usermsg3G > #usermsg3 {
  width: 100%;
  text-align: center;
}

#boardG > #board {
  width: 100%;
  text-align: center;
}

#gymtimeG > #gymtime {
  width: 100%;
  text-align: center;
}

#gymtimesmallG > #gymtimesmall {
  width: 100%;
  text-align: center;
}



/* */



/* footer */

#footermenuG > #footermenu {
  width: 100%;
  text-align: center;
}

/* */












/* finished */

/*empty space padding*/

#page > #e1r1 {
  grid-area: e1r1;
  background-color: red;
  }
  #page > #e2r1 {
  grid-area: e2r1;
  background-color: red;
  }
  
  #page > #e3r1 {
  grid-area: e3r1;
  background-color: red;
  }
  
  #page > #e4r1 {
  grid-area: e4r1;
  background-color: red;
  }
  
  /**/
  
  #page > #e1r2 {
  grid-area: e1r2;
  background-color: darkred;
  }
  
  #page > #e2r2 {
  grid-area: e2r2;
  background-color: darkred;
  }
  
  #page > #e3r2 {
  grid-area: e3r2;
  background-color: darkred;
  }
  
  #page > #e4r2 {
  grid-area: e4r2;
  background-color: darkred;
  }
  
  /* */
  
  /* content */
  
  /* header */
  
  #page > #c1r1 {
    grid-area: c1r1;
    /*background-color: blue;*/
  }
  
  #page > #c2r1 {
    grid-area: c2r1;
    /*background-color: black;*/
  }
  
  #page > #c3r1 {
    grid-area: c3r1;
    /*background-color: yellow;*/
  }
  
  #page > #c4r1 {
    grid-area: c4r1;
    /*background-color: green;*/
  }
  
  #page > #c5r1 {
    grid-area: c5r1;
    /*background-color: blue;*/
  }
  
  #c1r1, #c2r1, #c3r1, #c4r1, #c5r1 {
    background-color: var(--test-gridElementBackgroundColor);
}

/* content/middle */

#page > #c1r2 {
  grid-area: c1r2;
}

#page > #c2r2 {
  grid-area: c2r2;
}

#page > #c3r2 {
  grid-area: c3r2;
}

#page > #c4r2 {
  grid-area: c4r2;
}

#page > #c5r2 {
  grid-area: c5r2;
}

#page > #c6r2 {
  grid-area: c6r2;
}

#page > #c7r2 {
  grid-area: c7r2;
}

#page > #c8r2 {
  grid-area: c8r2;
}

#page > #c9r2 {
  grid-area: c9r2;
}

#page > #c10r2 {
  grid-area: c10r2;
}

#page > #c11r2 {
  grid-area: c11r2;
}

#page > #c12r2 {
  grid-area: c12r2;
}

#page > #c13r2 {
  grid-area: c13r2;
}

#page > #c14r2 {
  grid-area: c14r2;
}

#page > #c15r2 {
  grid-area: c15r2;
}

#c1r2, #c2r2, #c3r2, #c4r2, #c5r2, #c6r2, #c7r2, #c8r2, #c9r2, #c10r2, #c11r2, #c12r2, #c13r2, #c14r2, #c15r2 {
  background-color: var(--test-gridElementBackgroundColor);
}

/* footer */

#page > #c1r3 {
  grid-area: c1r3;
  }
  
  #page > #c2r3 {
    grid-area: c2r3;
  }
  
  #c1r3, #c2r3 {
    background-color: lightgreen;
  }
  
  /* */