* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*template:
https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas
*/

#page {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: "title head avatar"
                         "topSpace topSpace topSpace"
                         "leftSpace main rightSpace"
                         "bottomSpace bottomSpace bottomSpace"
                         "foot foot foot";
    grid-template-rows: 20px 20px auto 20px 20px; /*nedover*/
    grid-template-columns: 20px auto 20px; /*bortover*/
  }

  #page > #title {
    grid-area: title;
    background-color: #8ca0ff;
  }

  #page > #avatar {
    grid-area: avatar;
    background-color: #8ca0ff;
  }
  
  #page > header {
    grid-area: head;
    background-color: #8ca0ff;
  }
  

  #page > #topSpace {
    grid-area: topSpace;
    background-color: #ffa08c;
  }

  #page > #bottomSpace {
    grid-area: bottomSpace;
    background-color: #ffa08c;
  }

  #page > #leftSpace {
    grid-area: leftSpace;
    background-color: #ffa08c;
  }

  #page > #rightSpace {
    grid-area: rightSpace;
    background-color: #ffa08c;
  }
  
  #page > main {
    grid-area: main;
    background-color: #ffff64;
  }
  
  #page > footer {
    grid-area: foot;
    background-color: #8cffa0;
  }