#page {
display: grid;
width: 100vw;
height: 100vh;

grid-template-areas: "c1r1 c1r1 c1r1 c1r1 c1r1"
"Glinks Glinks Glinks Glinks Glinks"
"c2r1 c2r1 c2r1 c2r1 c2r1"

"e1r1 e1r1 e1r1 e1r1 e1r1"

"e2r1 logoG logoG logoG e4r1"
"e2r1 c1r2 c1r2 c1r2 e4r1"
"e2r1 inp1G inp1G inp1G e4r1"
"e2r1 c2r2 c2r2 c2r2 e4r1"
"e2r1 inp2G inp2G inp2G e4r1"
"e2r1 c3r2 c3r2 c3r2 e4r1"
"e2r1 rmbrmebtnG rmbrmebtnG rmbrmebtnG e4r1"
"e2r1 respmsgG respmsgG respmsgG e4r1"
"e2r1 loginbtnG loginbtnG loginbtnG e4r1"
"e2r1 noaccbtnG noaccbtnG noaccbtnG e4r1"

"e3r1 e3r1 e3r1 e3r1 e3r1"

"c1r3 c1r3 c1r3 c1r3 c1r3"
"Gfootermenu Gfootermenu Gfootermenu Gfootermenu Gfootermenu"
"c2r3 c2r3 c2r3 c2r3 c2r3";

grid-template-rows: var(--global-headerRows) 1fr 60px 40px 40px 25px 40px 25px 40px 25px 60px 40px 1fr var(--global-footerRows); /*nedover*/
grid-template-columns: 4vw 1fr 1fr 1fr 4vw; /*bortover*/
}

/* elements */

/* mobile query */

@media only screen and (max-width: 768px) {

#page > #Glinks {
grid-area: Gfootermenu;
background-color: var(--main-themeColor);
}

#Glinks > #links {
color: var(--main-textColor);
font-size: 18px;
width: 100%;
text-align: center;
}

#logoG > #logo {
margin-top: 15px;
width: 80%;
height: 80%;
object-fit: contain;
image-rendering: auto;
}

#inp1G > #inp1, #inp2 {
font-size: 18px;
width: 70%;
height: 90%;
border: var(--main-border);
border-radius: 5px;
background-color: var(--main-themeColor);
max-width: 250px;
}

#page > #Gfootermenu {
grid-area: Glinks;
background-color: var(--main-themeColor);
}

#Gfootermenu > #footermenu {
color: var(--main-textColor);
font-size: 30px;
margin-left: 25px;
margin-right: 25px;
font-weight: bold;
}

#rmbrmebtnG > #rmbrMe {
cursor: pointer;
height: 17.5px;
width: 17.5px;
}

#respmsgG > #respmsg {
font-size: 18px;
color: var(--main-textColor);
}

#loginbtnG > #loginbtn {
cursor: pointer;
font-size: 24px;
font-weight: bold;
padding: 5px;
border: var(--main-border);
border-radius: 5px;
background-color: var(--main-themeColor);
color: var(--main-textColor);
}

#noaccbtnG > #noaccbtn {
font-size: 18px;
color: var(--main-textColor);
}

}

/* desktop query */

@media only screen and (min-width: 769px) {

#page > #Glinks {
grid-area: Glinks;
background-color: var(--main-themeColor);
}

#Glinks > #links {
color: var(--main-textColor);
font-size: 18px;
width: 100%;
text-align: center;
}

#logoG > #logo {
margin-top: 15px;
width: 80%;
height: 80%;
object-fit: contain;
image-rendering: auto;
}

#inp1G > #inp1, #inp2 {
font-size: 18px;
width: 70%;
height: 90%;
border: var(--main-border);
border-radius: 5px;
background-color: var(--main-themeColor);
max-width: 300px;
}

#page > #Gfootermenu {
grid-area: Gfootermenu;
background-color: var(--main-themeColor);
}

#Gfootermenu > #footermenu {
color: var(--main-textColor);
font-size: 30px;
margin-left: 25px;
font-weight: bold;
}

#rmbrmebtnG > #rmbrMe {
cursor: pointer;
height: 17.5px;
width: 17.5px;
}

#respmsgG > #respmsg {
font-size: 18px;
color: var(--main-textColor);
}

#loginbtnG > #loginbtn {
cursor: pointer;
font-size: 24px;
font-weight: bold;
padding: 5px;
border: var(--main-border);
border-radius: 5px;
background-color: var(--main-themeColor);
color: var(--main-textColor);
}

#noaccbtnG > #noaccbtn {
font-size: 18px;
color: var(--main-textColor);
}

}


/* grid for elements */

#page > #logoG {
grid-area: logoG;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
border-top: var(--main-border);
border-radius: var(--global-borderRadiusForContentTop);
}

#page > #inp1G {
grid-area: inp1G;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
text-align: center;
}

#page > #inp2G {
grid-area: inp2G;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
text-align: center;
}

#rmbrMeTxt {
color: var(--main-textColor);
}

#page > #rmbrmebtnG{
grid-area: rmbrmebtnG;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
text-align: center;
}

#page > #respmsgG {
grid-area: respmsgG;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
text-align: center;
}

#page > #loginbtnG {
grid-area: loginbtnG;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
text-align: center;
}

#page > #noaccbtnG {
grid-area: noaccbtnG;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
border-bottom: var(--main-border);
border-radius: var(--global-borderRadiusForContentBottom);
text-align: center;
}

/* content */

#page > #c1r1 {
grid-area: c1r1;
}

#page > #c2r1 {
grid-area: c2r1;
border-bottom: var(--main-border);
}

#c1r1, #c2r1{
background-color: var(--main-themeColor);
}

#page > #c1r2 {
grid-area: c1r2;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
}

#page > #c2r2 {
grid-area: c2r2;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
}

#page > #c3r2 {
grid-area: c3r2;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
}

#page > #c1r3 {
grid-area: c1r3;
border-top: var(--main-border);
}

#page > #c2r3 {
grid-area: c2r3;
}

#c1r3, #c2r3 {
background-color: var(--main-themeColor);
}


/* empty space */

#page > #e1r1 {
grid-area: e1r1;
}

#page > #e2r1 {
grid-area: e2r1;
}

#page > #e3r1 {
grid-area: e3r1;
}

#page > #e4r1 {
grid-area: e4r1;
}

#e1r1, #e3r1 {
min-height: 15px;
}