/* elements for mobile & desktop */



#title, #smallTitle, #askForAccessBtn {
color:var(--main-headerTextColor);
font-weight: bold;
font-family: var(--main-font-Family-Verdana);
}

#smallTitle{
opacity: 85%;
}

#line {
opacity: 40%;
border: 1px #757575 solid;
}

#inp1, #inp2, #inp3, #inp4 {
height: 40px;
width: 250px;
font-size: 16px;

background-color: var(--main-backgroundColor2);
color: var(--main-backgroundColor1);
border-radius: 8px;
border: 1px var(--main-backgroundColor1) solid;
}

#askForAccessBtn {
height: 40px;
width: 200px;
font-size: 20px;

background-color: var(--main-backgroundColor1);
color: var(--main-textColorLight);
border-radius: 8px;
border: 1px var(--main-backgroundColor1) solid;
}

::placeholder {
color: var(--main-backgroundColor1);
font-family: var(--main-font-Family-Verdana);
font-size: 16px;
opacity: 85%;
}

#respMsg, #alreadyAccBtn {
font-family: var(--main-font-Family-Verdana);
font-size: 16px;
}

#logo, #line, #inp1, #inp2, #inp3, #inp4, #respMsg, #askForAccessBtn, #alreadyAccBtn {
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}



/* end of mobile & desktop */