body {
    word-break: break-all;
    font-family: var(--main-font-Family-Arial);
}

#header {
    background: var(--main-headerBackground);
    display: grid;
    width: 100vw;
    min-height: fit-content;
    height: 20vh;
    grid-template-areas:

    "c1r1 c1r1 c1r1 c1r1 c1r1"
    "Gtitle Gtitle Gtitle Gtitle Gtitle"
    "GsmallTitle GsmallTitle GsmallTitle GsmallTitle GsmallTitle"
    "c2r1 c2r1 c2r1 c2r1 c2r1"
    ;
    
    grid-template-rows: /* nedover */
    3vh /* c1r1 */

    50px /* title */
    
    50px /* smallTitle */

    1vh /* c2r1 */

    ;

    grid-template-columns: /* bortover */
    15px 1fr 1fr 1fr 15px;
}

#content {
    background-color: var(--main-backgroundColor2);
    display: grid;
    width: 100vw;
    min-height: fit-content;
    height: 80vh;
    grid-template-areas:

    "c1r2 c1r2 c1r2 c1r2 c1r2"
    "Glogo Glogo Glogo Glogo Glogo"
    "c2r2 c2r2 c2r2 c2r2 c2r2"
    "Gline Gline Gline Gline Gline"
    "c3r2 c3r2 c3r2 c3r2 c3r2"
    "Ginp1 Ginp1 Ginp1 Ginp1 Ginp1"
    "c4r2 c4r2 c4r2 c4r2 c4r2"
    "Ginp2 Ginp2 Ginp2 Ginp2 Ginp2"
    "c5r2 c5r2 c5r2 c5r2 c5r2"
    "Ginp3 Ginp3 Ginp3 Ginp3 Ginp3"
    "c6r2 c6r2 c6r2 c6r2 c6r2"
    "Ginp4 Ginp4 Ginp4 Ginp4 Ginp4"
    "c7r2 c7r2 c7r2 c7r2 c7r2"
    "GrespMsg GrespMsg GrespMsg GrespMsg GrespMsg"
    "c8r2 c8r2 c8r2 c8r2 c8r2"
    "GaskForAccessBtn GaskForAccessBtn GaskForAccessBtn GaskForAccessBtn GaskForAccessBtn"
    "c9r2 c9r2 c9r2 c9r2 c9r2"
    "GalreadyAccBtn GalreadyAccBtn GalreadyAccBtn GalreadyAccBtn GalreadyAccBtn"
    "c10r2 c10r2 c10r2 c10r2 c10r2"
    ;
    
    grid-template-rows: /* nedover */

    4vh /* c1r2 */

    auto /* logo */

    2vh /* c2r2 */

    1vh /* line */
    
    3vh /* c3r2 */
    
    auto /* inp1 */
    
    3vh /* c4r2 */
    
    auto /* inp2 */
    
    3vh /* c5r2 */
    
    auto /* inp3 */
    
    3vh /* c6r2 */
    
    auto /* inp4 */

    3vh /* c7r2 */

    auto /* respMsg */

    2vh /* c8r2 */

    auto /* loginBtn */

    3vh /* c9r2 */

    auto /* noAccBtn */

    1fr /* c10r2 */

    ;

    grid-template-columns: /* bortover */
    15px 1fr 1fr 1fr 15px;
}