@media (prefers-color-scheme: light) {
:root {
--main-headerBackground:  #357F9B;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #357F9B;
--main-boxShadow: 4px 4px rgba(53,127,155, 0.4);

--main-accountOwnerColor: var(--main-headerBackground);
}
}

@media (prefers-color-scheme: dark) {
:root {
--main-headerBackground:  #24586b;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #24586b;
--main-boxShadow: 4px 4px rgba(36,88,107, 0.4);

--main-accountOwnerColor: #357F9B;
}
}

/* javascript add stylesheet hvis man vil ha eget theme? så remove */