:root {
    --main-headerBackground:  #357F9B;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
    --main-headerTextColor: white;
    --main-font-Family-Verdana: Verdana, Geneva, Tahoma, sans-serif;
    --main-font-Family-Arial: Arial, Helvetica, sans-serif;

    --main-bodyBackgroundColor: #78CFF0;
    --main-backgroundColor1: #357F9B;
    --main-backgroundColor2: #F0F0F0;
    --main-textColorLight: white;
    --main-textColorDark: black;
}