:root {
--main-font-Family-Verdana: Verdana, Geneva, Tahoma, sans-serif;
--main-font-Family-Arial: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: light) {
:root {
--main-headerBackground:  #357F9B;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #357F9B;
--main-boxShadow: 4px 4px rgba(53,127,155, 0.4);
--main-lineBorder: 1px #757575 solid;

--main-backgroundColor2: #F0F0F0;
--main-backgroundColor3: #ffffff;

--main-headerTextColor: white;
--main-textColorLight: white;
--main-textColorDark: black;
--main-textColorBadges: white;

--main-iconsActiveColor: #231f20;
--main-iconsDefaultColor: #8D8D8D;
}
}

@media (prefers-color-scheme: dark) {
:root {
--main-headerBackground:  #24586b;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #24586b;
--main-boxShadow: 4px 4px rgba(36,88,107, 0.4);
--main-lineBorder: 1px #ffffff solid;

--main-backgroundColor2: #2b2b2b;
--main-backgroundColor3: #353535;

--main-headerTextColor: white;
--main-textColorLight: white;
--main-textColorDark: white;
--main-textColorBadges: white;

--main-iconsActiveColor: #e0e0e0;
--main-iconsDefaultColor: #808080;
}
}

/* javascript add stylesheet hvis man vil ha eget theme? så remove */