:root {
--main-font-Family-Verdana: Verdana, Geneva, Tahoma, sans-serif;
--main-font-Family-Arial: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: light) {
:root {
--main-headerBackground:  #972F2F;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/

--main-bodyBackgroundColor: var(--main-headerBackground); /* #707070 */
--main-backgroundColor1: #972F2F;
--main-backgroundColor2: #F0F0F0;
--main-backgroundColor3: #ffffff;
--main-boxShadow: 4px 4px rgba(151,47,47, 0.4);
--main-headerTextColor: white;
--main-textColorLight: white;
--main-textColorDark: black;
--main-textColorBadges: white;
}
}

/* javascript add stylesheet hvis man vil ha eget theme? så remove */