/* LIGHT THEME VALUES */

.defaultColorTheme-light {
--main-headerBackground:  #327a94;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #3c93b3;
--main-backgroundColorRGBLowOpacity: rgba(60,147,179, 0.4);
--main-boxShadow: 4px 4px var(--main-backgroundColorRGBLowOpacity);

--main-accountOwnerColor: var(--main-backgroundColor1);
}

.blueColorTheme-light {
--main-headerBackground:  #3247bb;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #3a53e2;
--main-backgroundColorRGBLowOpacity: rgba(58,83,226, 0.4);
--main-boxShadow: 4px 4px var(--main-backgroundColorRGBLowOpacity);

--main-accountOwnerColor: var(--main-backgroundColor1);
}

.testColorTheme-light {
    --main-headerBackground:  #01a2ff;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
    --main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
    --main-backgroundColor1: #1d8ac9;
    --main-backgroundColorRGBLowOpacity: rgba(29,138,201, 0.4);
    --main-boxShadow: 4px 4px var(--main-backgroundColorRGBLowOpacity);
    
    --main-accountOwnerColor: var(--main-backgroundColor1);


    
    --main-lineBorder: 1px #ffffff solid;

--main-backgroundColor2: #77a7c5;
--main-backgroundColor3: #78b8e0;

--main-headerTextColor: white;
--main-textColorLight: white;
--main-textColorDark: rgb(58, 58, 58);
--main-textColorBadges: white;

--main-iconsActiveColor: #222222;
--main-iconsDefaultColor: #868686;
    }

/* END OF LIGHT THEME VALUES */


/* DARK THEME VALUES */
.defaultColorTheme-dark {
--main-headerBackground:  #1c4553;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #265f72;
--main-backgroundColorRGBLowOpacity: rgba(38,95,114, 0.4);
--main-boxShadow: 4px 4px var(--main-backgroundColorRGBLowOpacity);

--main-accountOwnerColor: #30738b;
}

.blueColorTheme-dark {
--main-headerBackground:  #202b6b;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #293797;
--main-backgroundColorRGBLowOpacity: rgba(41,55,151, 0.4);
--main-boxShadow: 4px 4px var(--main-backgroundColorRGBLowOpacity);

--main-accountOwnerColor: #4154c0;
}
/* END OF DARK THEME VALUES */