/* LIGHT THEME VALUES */

.defaultColorTheme-light {
--main-headerBackground:  #357F9B;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #357F9B;
--main-backgroundColorRGBLowOpacity: rgba(53,127,155, 0.4);
--main-boxShadow: 4px 4px var(--main-backgroundColorRGBLowOpacity);

--main-accountOwnerColor: var(--main-headerBackground);
}

.blueColorTheme-light {
--main-headerBackground:  #3e50b4;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #3e50b4;
--main-backgroundColorRGBLowOpacity: rgba(62,80,180, 0.4);
--main-boxShadow: 4px 4px var(--main-backgroundColorRGBLowOpacity);

--main-accountOwnerColor: var(--main-headerBackground);
}

/* END OF LIGHT THEME VALUES */


/* DARK THEME VALUES */
.defaultColorTheme-dark {
--main-headerBackground:  #24586b;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #24586b;
--main-backgroundColorRGBLowOpacity: rgba(36,88,107, 0.4);
--main-boxShadow: 4px 4px var(--main-backgroundColorRGBLowOpacity);

--main-accountOwnerColor: #357F9B;
}

.blueColorTheme-dark {
--main-headerBackground:  #2c3a8a;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #2c3a8a;
--main-backgroundColorRGBLowOpacity: rgba(44,58,138, 0.4);
--main-boxShadow: 4px 4px var(--main-backgroundColorRGBLowOpacity);

--main-accountOwnerColor: #4154c0;
}
/* END OF DARK THEME VALUES */