#askForAccessPage {
display: grid;
width: 100vw;
height: 100vh;

grid-template-areas: "c1r1 c1r1 c1r1 c1r1 c1r1"
"Glinks Glinks Glinks Glinks Glinks"
"c2r1 c2r1 c2r1 c2r1 c2r1"

"e1r1 e1r1 e1r1 e1r1 e1r1"

"e2r1 logoG logoG logoG e4r1"
"e2r1 c1r2 c1r2 c1r2 e4r1"
"e2r1 inp1G inp1G inp1G e4r1"
"e2r1 c2r2 c2r2 c2r2 e4r1"
"e2r1 inp2G inp2G inp2G e4r1"
"e2r1 c3r2 c3r2 c3r2 e4r1"
"e2r1 inp3G inp3G inp3G e4r1"
"e2r1 c4r2 c4r2 c4r2 e4r1"
"e2r1 inp4G inp4G inp4G e4r1"
"e2r1 c5r2 c5r2 c5r2 e4r1"
"e2r1 respmsgG respmsgG respmsgG e4r1"
"e2r1 askforaccessbtnG askforaccessbtnG askforaccessbtnG e4r1"
"e2r1 alreadyaccbtnG alreadyaccbtnG alreadyaccbtnG e4r1"

"e3r1 e3r1 e3r1 e3r1 e3r1"

"c1r3 c1r3 c1r3 c1r3 c1r3"
"Gfootermenu Gfootermenu Gfootermenu Gfootermenu Gfootermenu"
"c2r3 c2r3 c2r3 c2r3 c2r3";

grid-template-rows: 3vh auto 3vh 1fr 1fr 5px 5% 25px 5% 25px 5% 25px 5% 25px 5% 60px 7.5% 1fr 3vh auto 3vh; /*nedover*/
/* 21 */
grid-template-columns: 4vw 1fr 1fr 1fr 4vw; /*bortover*/
}

/* elements */

/* mobile query */

@media only screen and (max-width: 768px) {

#askForAccessPage > #Glinks {
grid-area: Gfootermenu;
background-color: var(--main-themeColor);
}

#Glinks > #links {
color: var(--main-textColor);
font-size: 18px;
width: 100%;
text-align: center;
}

#logoG > #logo {
margin-top: 15px;
width: 80%;
height: 80%;
object-fit: contain;
image-rendering: auto;
}

#inp1G > #inp1, #inp2, #inp3, #inp4 {
font-size: 18px;
width: 70%;
height: 90%;
border: var(--main-border);
border-radius: 5px;
background-color: var(--main-themeColor);
max-width: 250px;
}

#askForAccessPage > #Gfootermenu {
grid-area: Glinks;
background-color: var(--main-themeColor);
}

#Gfootermenu > #footermenu {
color: var(--main-textColor);
font-size: 30px;
margin-left: 25px;
font-weight: bold;
}

#respmsgG > #respmsg {
font-size: 18px;
color: var(--main-textColor);
min-height: 25px;
}

#askforaccessbtnG > #askforaccessbtn {
font-size: 22px;
font-weight: bold;
padding: 5px;
border: var(--main-border);
border-radius: 5px;
background-color: var(--main-themeColor);
color: var(--main-textColor);
min-height: 25px;
}

#alreadyaccbtnG > #alreadyaccbtn {
font-size: 18px;
color: var(--main-textColor);
min-height: 25px;
}

}

/* desktop query */

@media only screen and (min-width: 769px) {

#askForAccessPage > #Glinks {
grid-area: Glinks;
background-color: var(--main-themeColor);
}

#Glinks > #links {
color: var(--main-textColor);
font-size: 18px;
width: 100%;
text-align: center;
}

#logoG > #logo {
margin-top: 15px;
width: 80%;
height: 80%;
object-fit: contain;
image-rendering: auto;
}

#inp1G > #inp1, #inp2, #inp3, #inp4 {
font-size: 18px;
width: 70%;
height: 90%;
border: var(--main-border);
border-radius: 5px;
background-color: var(--main-themeColor);
max-width: 300px;
}

#askForAccessPage > #Gfootermenu {
grid-area: Gfootermenu;
background-color: var(--main-themeColor);
}

#Gfootermenu > #footermenu {
color: var(--main-textColor);
font-size: 30px;
margin-left: 25px;
font-weight: bold;
}

#respmsgG > #respmsg {
font-size: 18px;
color: var(--main-textColor);
min-height: 25px;
}

#askforaccessbtnG > #askforaccessbtn {
font-size: 22px;
font-weight: bold;
padding: 5px;
border: var(--main-border);
border-radius: 5px;
background-color: var(--main-themeColor);
color: var(--main-textColor);
min-height: 25px;
}

#alreadyaccbtnG > #alreadyaccbtn {
font-size: 18px;
color: var(--main-textColor);
min-height: 25px;
}

}


/* grid for elements */

#askForAccessPage > #logoG {
grid-area: logoG;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
border-top: var(--main-border);
border-radius: var(--global-borderRadiusForContentTop);
}

#askForAccessPage > #inp1G {
grid-area: inp1G;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
text-align: center;
min-height: 25px;
}

#askForAccessPage > #inp2G {
grid-area: inp2G;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
text-align: center;
min-height: 25px;
}

#askForAccessPage > #inp3G {
grid-area: inp3G;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
text-align: center;
min-height: 25px;
}

#askForAccessPage > #inp4G {
grid-area: inp4G;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
text-align: center;
min-height: 25px;
}

#askForAccessPage > #respmsgG {
grid-area: respmsgG;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
text-align: center;
}

#askForAccessPage > #askforaccessbtnG {
grid-area: askforaccessbtnG;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
text-align: center;
}

#askForAccessPage > #alreadyaccbtnG {
grid-area: alreadyaccbtnG;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
border-bottom: var(--main-border);
border-radius: var(--global-borderRadiusForContentBottom);
text-align: center;
}

/* content */

#askForAccessPage > #c1r1 {
grid-area: c1r1;
}

#askForAccessPage > #c2r1 {
grid-area: c2r1;
border-bottom: var(--main-border);
}

#c1r1, #c2r1{
background-color: var(--main-themeColor);
}

#askForAccessPage > #c1r2 {
grid-area: c1r2;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
}

#askForAccessPage > #c2r2 {
grid-area: c2r2;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
}

#askForAccessPage > #c3r2 {
grid-area: c3r2;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
}

#askForAccessPage > #c4r2 {
grid-area: c4r2;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
}

#askForAccessPage > #c5r2 {
grid-area: c5r2;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
}

#askForAccessPage > #c1r3 {
grid-area: c1r3;
border-top: var(--main-border);
}

#askForAccessPage > #c2r3 {
grid-area: c2r3;
}

#c1r3, #c2r3 {
background-color: var(--main-themeColor);
}


/* empty space */

#askForAccessPage > #e1r1 {
grid-area: e1r1;
}

#askForAccessPage > #e2r1 {
grid-area: e2r1;
}

#askForAccessPage > #e3r1 {
grid-area: e3r1;
}

#askForAccessPage > #e4r1 {
grid-area: e4r1;
}

#e1r1, #e3r1 {
min-height: 15px;
}