#askForAccess{
              background: 
              linear-gradient(rgb(0, 48, 32, 1),rgb(17, 17, 17, 1));
              position: fixed;
              padding: 3vh 3vw;
              top: 30vh;
              left: 40vw;
              border-radius: 5%;
}
#displayname{
             font-weight: bold;
             margin: 1vh 1vw;
}
#username{
          font-weight: bold;
          margin: 1vh 1vw;
}
#psw{
     font-weight: bold;
     margin: 1vh 1vw;
}
#confirmPsw{
            font-weight: bold;
            margin: 1vh 1vw;
}
#giveAccess{
            font-weight: bold;
            margin: 1vh 1vw;
            
}
#askForAccesMsg{
                display: flex;
                position: fixed;
                color: white;
                margin: auto;
                top: 58vh;
                left: 38%;
                
}