* {
margin: 0;
/*font-family: Arial, Helvetica, sans-serif;*/
}

/*html, body {
transition-duration: 0.4s;
position: fixed;
top: 0;
left: 0;
right:0;
bottom: 0;
}*/

body {
background-color: var(--main-bodyBackgroundColor);
/*background-color: var(--main-backgroundColor2);*/
word-break: break-all;
font-family: var(--main-font-Family-Arial);
}

a{
color: var(--main-textColorDark);
text-decoration: none;
}

/* width */
::-webkit-scrollbar {
width: 10px;
height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(179, 179, 179); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(141, 141, 141); 
}