*{
margin: 0;
padding: 0;
}

body{
background-image: 
linear-gradient(rgba(26, 26, 26, 0.7),rgb(27, 27, 27, 1.0)), 
url(../images/background-smallBlur.png);     
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;

font-family: Arial, Helvetica, sans-serif;
color: white;
text-decoration: none;
}

:root {

/* global variables */
--main-themeColor:  rgb(17, 17, 17);
--main-background-color: rgba(29, 29, 29, 0.7);
--main-textColor: white;
--main-text-shadow: 1px 1px rgb(0, 0, 0, 0.2);
--main-border: 1.25px solid white;/*rgb(0, 255, 170)*/;

--global-margin-left: 12.5px;

--global-borderRadiusForContentTop: 15px 15px 0 0;
--global-borderRadiusForContentBottom: 0 0 15px 15px;

}

a{
font-family: Arial, Helvetica, sans-serif;
color: var(--main-textColor);
text-decoration: none;

-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Old versions of Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently
supported by Chrome, Edge, Opera and Firefox */
}

a:hover{
color: rgb(0, 255, 170);              
}

/* for at table ser riktig ut */
/*tr.separated td {
border-bottom: 1px solid;
padding-top: 15px;
padding-bottom: 15px;
}*/

table {
border-collapse: collapse;
}

th {
position: sticky;
top: 0;
/*background-color: var(--main-background-color);*/
}

#rmbrmebtnG > #rmbrMeTxt{
font-size: 18px;
}

/* slutt på table */