*{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}

body{
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
text-decoration: none;
}

/* global variables */
:root {

/* dark mode variables */

--darkMode-themeColor:  rgb(17, 17, 17);
--darkMode-background-color: rgba(29, 29, 29, 0.7);
--darkMode-textColor: white;
--darkMode-border: 1.25px solid white;
--darkMode-filter: invert(1);
--darkMode-backgroundImage: 
linear-gradient(rgba(26, 26, 26, 0.7),rgb(27, 27, 27, 1.0)), 
url(../images/background-smallBlur.png); 

/* end of dark mode variables */


/* light mode variables */

--lightMode-themeColor:  rgb(226, 226, 226);
--lightMode-background-color: rgba(226, 226, 226, 0.7);
--lightMode-textColor: black;
--lightMode-border: 1.25px solid black;
--lightMode-filter: invert(0);
--lightMode-backgroundImage: 
linear-gradient(rgba(26, 26, 26, 0.7),rgb(97, 97, 97)), 
url(../images/background-smallBlur.png);

/* end of light mode variables */

/* variables */

--global-margin-left: 12.5px;

--global-borderRadiusForContentTop: 15px 15px 0 0;
--global-borderRadiusForContentBottom: 0 0 15px 15px;

/* end of variables */


}

/* dark mode */

@media (prefers-color-scheme: dark) {

body {
--main-themeColor:  var(--darkMode-themeColor);
--main-background-color: var(--darkMode-background-color);
--main-textColor: var(--darkMode-textColor);
--main-border: var(--darkMode-border);
--main-filter: var(--darkMode-filter);
background-image: var(--darkMode-backgroundImage); 
}

}

.darkMode {
    --main-themeColor:  var(--darkMode-themeColor);
--main-background-color: var(--darkMode-background-color);
--main-textColor: var(--darkMode-textColor);
--main-border: var(--darkMode-border);
--main-filter: var(--darkMode-filter);
background-image: var(--darkMode-backgroundImage); 
  }

/* end of dark mode */

/* light mode */

@media (prefers-color-scheme: light) {

body {
--main-themeColor:  var(--lightMode-themeColor);
--main-background-color: var(--lightMode-background-color);
--main-textColor: var(--lightMode-textColor);
--main-border: var(--lightMode-border);
--main-filter: var(--lightMode-filter);
background-image: var(--lightMode-backgroundImage); 
}

}

.lightMode {
    --main-themeColor:  var(--lightMode-themeColor);
--main-background-color: var(--lightMode-background-color);
--main-textColor: var(--lightMode-textColor);
--main-border: var(--lightMode-border);
--main-filter: var(--lightMode-filter);
background-image: var(--lightMode-backgroundImage); 
  }

/* end of light mode */

a{
color: var(--main-textColor);
text-decoration: none;
transition-duration: 0.4s; 

-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Old versions of Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently
supported by Chrome, Edge, Opera and Firefox */
}

a:hover{
color: rgb(0, 255, 170); 
}

/* for at table ser riktig ut */
/*tr.separated td {
border-bottom: 1px solid;
padding-top: 15px;
padding-bottom: 15px;
}*/

table {
border-collapse: collapse;
}

th {
position: sticky;
top: 0;
/*background-color: var(--main-background-color);*/
}

#rmbrmebtnG > #rmbrMeTxt{
font-size: 18px;
}

/* slutt på table */

input {
text-align: center;
color: var(--main-textColor);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
opacity: 1; /* Firefox */
text-align: center;
}

.footerIcons{
    -webkit-filter: var(--main-filter);
    filter: var(--main-filter);
    image-rendering: auto;
    max-height: 32px;
    max-width: 32px;
    }