#hei_melding{
             background: none;
             font-family: Arial, Helvetica, sans-serif;
             color: white;
}
.flexbox-container{
                   display: flex;
}                  
.flexbox-item{
                   
}
#gym_open{
          font-family: Arial, Helvetica, sans-serif;
          color: white;
}
#time_left{
           font-family: Arial, Helvetica, sans-serif;
           color: white;
}