#page {
display: grid;
width: 100vw;
height: 100vh;

grid-template-areas: "c1r1 c1r1 c1r1 c1r1 c1r1 c1r1 c1r1"
"Glinks Glinks Glinks Glinks Glinks Glinks Glinks"
"c2r1 c2r1 c2r1 c2r1 c2r1 c2r1 c2r1"

"e2r1 e1r2 e1r2 e1r2 e1r2 e1r2 e4r1"

"e2r1 e2r2 c1r2 c1r2 c1r2 e4r2 e4r1"
"e2r1 e2r2 c2r2 usermsg1G c3r2 e4r2 e4r1"
"e2r1 e2r2 c2r2 listTitleG c3r2 e4r2 e4r1"
"e2r1 e2r2 c2r2 listG c3r2 e4r2 e4r1"
"e2r1 e2r2 c5r2 c5r2 c5r2 e4r2 e4r1"
"e2r1 e2r2 usersBtnG usersBtnG usersBtnG e4r2 e4r1"
"e2r1 e2r2 c6r2 c6r2 c6r2 e4r2 e4r1"

"e2r1 e3r2 e3r2 e3r2 e3r2 e3r2 e4r1"

"c1r3 c1r3 c1r3 c1r3 c1r3 c1r3 c1r3"
"Gfootermenu Gfootermenu Gfootermenu Gfootermenu Gfootermenu Gfootermenu Gfootermenu"
"c2r3 c2r3 c2r3 c2r3 c2r3 c2r3 c2r3";

/* gammel: 25px 30px 30px 15px 1fr 10px 1fr 1fr 1fr 1fr 1fr 25px 30px 15px 20px 30px 40px */
grid-template-rows: var(--global-headerRows) 15px 20px 50px 50px 1fr 45px 40px 15px 15px var(--global-footerRows); /*nedover*/
grid-template-columns: 5px 10px 30px 1fr 30px 10px 5px; /*bortover*/
}

/* mobile query */

@media only screen and (max-width: 768px) {

/* header */

#page > #Glinks {
grid-area: Gfootermenu;
background-color: var(--main-themeColor);
}

#Glinks > #links {
color: var(--main-textColor);
font-size: 18px;
width: 100%;
text-align: center;
}

/* content/middle */

#usermsg1G > #usermsg1 {
color: var(--main-textColor);
font-size: 20px;
font-weight: bold;
width: 100%;
text-align: center;
}

#listTitleG > #listTitle {
color: var(--main-textColor);
font-size: 18px;
font-weight: bold;
width: 100%;
text-align: center;
}

#listG > #list {
color: var(--main-textColor);
font-size: 18px;
width: 100%;
text-align: center;
}

#usersBtnG > #usersBtn {
color: var(--main-textColor);
font-size: 18px;
width: 100%;
text-align: center;
}

/* footer */

#page > #Gfootermenu {
grid-area: Glinks;
background-color: var(--main-themeColor);
}

#Gfootermenu > #footermenu {
color: var(--main-textColor);
font-size: 30px;
margin-left: 25px;
font-weight: bold;
}

}

/* end of mobile media query */


/* desktop media query */

@media only screen and (min-width: 769px) {

/* header */

#page > #Glinks {
grid-area: Glinks;
background-color: var(--main-themeColor);
}

#Glinks > #links {
color: var(--main-textColor);
font-size: 18px;
width: 100%;
text-align: center;
}

/* content/middle */

#usermsg1G > #usermsg1 {
color: var(--main-textColor);
font-size: 22px;
font-weight: bold;
width: 100%;
text-align: center;
}

#listTitleG > #listTitle {
color: var(--main-textColor);
font-size: 20px;
font-weight: bold;
width: 100%;
text-align: center;
}

#listG > #list {
color: var(--main-textColor);
font-size: 18px;
width: 100%;
text-align: center;
}

#usersBtnG > #usersBtn {
color: var(--main-textColor);
font-size: 18px;
width: 100%;
text-align: center;
}

/* footer */

#page > #Gfootermenu {
grid-area: Gfootermenu;
background-color: var(--main-themeColor);
}

#Gfootermenu > #footermenu {
width: 100%;
text-align: center;
}

}

/* */

/* grid for elements */

#page > #usermsg1G {
min-height: 30px;
grid-area: usermsg1G;
background-color: var(--main-background-color);
padding: 7.5px;
}

#page > #listTitleG {
grid-area: listTitleG;
background-color: var(--main-background-color);
min-height: 40px;
}

#page > #listG {
grid-area: listG;
background-color: var(--main-background-color);
overflow-y: auto;
min-height: 70px;
}

#page > #usersBtnG {
min-height: 20px;
grid-area: usersBtnG;
background-color: var(--main-background-color);
border-left: var(--main-border);
border-right: var(--main-border);
padding: 7.5px;
}

/* elements */

/* */

/*empty space padding*/

#page > #e1r1 {
grid-area: e1r1;
}

#page > #e2r1 {
grid-area: e2r1;
}

#page > #e3r1 {
grid-area: e3r1;
}

#page > #e4r1 {
grid-area: e4r1;
}

/**/

/* content */

/* header */

#page > #c1r1 {
grid-area: c1r1;
}

#page > #c2r1 {
grid-area: c2r1;
border-bottom: var(--main-border);
}

#c1r1, #c2r1 {
background-color: var(--main-themeColor);
}

/* content/middle */

#page > #c1r2 {
grid-area: c1r2;
border-top: var(--main-border);
border-radius: var(--global-borderRadiusForContentTop);
border-left: var(--main-border);
border-right: var(--main-border);
}

#page > #c2r2 {
min-height: 25px;
grid-area: c2r2;
border-left: var(--main-border);
}

#page > #c3r2 {
grid-area: c3r2;
border-right: var(--main-border);
}

#page > #c4r2 {
grid-area: c4r2;
border-right: var(--main-border);
}

#page > #c5r2 {
grid-area: c5r2;
border-left: var(--main-border);
border-right: var(--main-border);
}

#page > #c6r2 {
grid-area: c6r2;
border-bottom: var(--main-border);
border-radius: var(--global-borderRadiusForContentBottom);
border-left: var(--main-border);
border-right: var(--main-border);
}


#c1r2, #c2r2, #c3r2, #c4r2, #c5r2, #c6r2 {
background-color: var(--main-background-color);
}

/* footer */

#page > #c1r3 {
grid-area: c1r3;
border-top: var(--main-border);
}

#page > #c2r3 {
grid-area: c2r3;
}

#c1r3, #c2r3 {
background-color: var(--main-themeColor);
}

/* */