/*.lightMode {
  
  --main-themeColor: var(--global-lightMode-themeColor);
  --main-avatarColor: var(--global-lightMode-avatarColor);
  --main-background-color: var(--global-lightMode-background-color);
  --main-textColor: var(--global-lightMode-textColor);
  --main-filter: var(--global-lightMode-filter);
  
}*/

/*
.darkMode {
  --main-themeColor: var(--global-darkMode-themeColor);
  --main-avatarColor: var(--global-darkMode-avatarColor);
  --main-background-color: var(--global-darkMode-background-color);
  --main-textColor: var(--global-darkMode-textColor);
  --main-filter: var(--global-darkMode-filter);
}
*/

@media (prefers-color-scheme: light) {
  
    body {
    --main-themeColor: var(--global-lightMode-themeColor);
    --main-avatarColor: var(--global-lightMode-avatarColor);
    --main-avatarBox-shadow: var(--global-lightMode-avatarBox-shadow);
    --main-box-shadow: var(--global-lightMode-box-shadow);
    --main-background-color: var(--global-lightMode-background-color);
    --main-textColor: var(--global-lightMode-textColor);
    --main-text-shadow: var(--global-lightMode-text-shadow);
    --main-filter: var(--global-lightMode-filter);
    --main-border: var(--global-lightMode-border);
    --main-border-avatar: var(--global-lightMode-border-avatar);
    }
    
  }
  
  @media (prefers-color-scheme: dark) {
    
    body {
    --main-themeColor: var(--global-darkMode-themeColor);
    --main-avatarColor: var(--global-darkMode-avatarColor);
    --main-avatarBox-shadow: var(--global-darkMode-avatarBox-shadow);
    --main-box-shadow: var(--global-darkMode-box-shadow);
    --main-background-color: var(--global-darkMode-background-color);
    --main-textColor: var(--global-darkMode-textColor);
    --main-text-shadow: var(--global-darkMode-text-shadow);
    --main-filter: var(--global-darkMode-filter);
    --main-border: var(--global-darkMode-border);
    --main-border-avatar: var(--global-darkMode-border-avatar);
    filter: var(--global-darkMode-brightness);
    }
  
  }
  
  * {
    margin: var(--global-margin);
    padding: var(--global-padding);
    font-family: var(--global-font-family);
    font-size: var(--global-font-size);
    color: var(--main-textColor);
    text-align: center;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }
