body {
--bsSize: 6px 6px;
}

/* Gradent Color Badges */

.redBadgeG {
background: linear-gradient(to right bottom, #E36262, #972F2F);
box-shadow: var(--bsSize) rgba(151,47,47, 0.4);
}

.yellowBadgeG {
background: linear-gradient(to right bottom, #DBB331, #C96E4C);
box-shadow: var(--bsSize) rgba(201,110,76, 0.4);
}

.blueBadgeG {
background: linear-gradient(to right bottom, #626BE3, #2B2379);
box-shadow: var(--bsSize) rgba(43,35,121, 0.4);
}

.themeBadgeG {
background: linear-gradient(to right bottom, var(--main-backgroundColor1), var(--main-bodyBackgroundColor));
box-shadow: var(--bsSize) var(--main-backgroundColorRGBLowOpacity);
}

/* end of Gradent Color Badges */


/* Plain Color Badges */

.redBadge {
background-color:  #E36262;
box-shadow: var(--bsSize) rgba(227,98,98, 0.4);
}

.yellowBadge {
background-color: #DBB331;
box-shadow: var(--bsSize) rgba(219,179,49, 0.4);
}

.blueBadge {
background-color: #626BE3;
box-shadow: var(--bsSize) rgba(98,107,227, 0.4);
}

.themeBadge {
background-color: var(--main-backgroundColor1);
box-shadow: var(--bsSize) var(--main-backgroundColorRGBLowOpacity);
}

/* end of Plain Color Badges */


.emptyBadge {
background-color: var(--main-iconsDefaultColor); /* 8d8d8d før */
box-shadow: var(--bsSize) rgba(141,141,141, 0.4);
border: 1px dashed white;
}