body>#page {
overflow-y: auto;
display: grid;
width: 100vw;
height: 100vh;
grid-template-areas:

"c1r1 c1r1 c1r1 c1r1 c1r1 c1r1 c1r1"
"GbackBtn GbackBtn GbackBtn GbackBtn GbackBtn GbackBtn GbackBtn"
"Gtitle Gtitle Gtitle Gtitle Gtitle Gtitle Gtitle"
"c2r1 c2r1 c2r1 c2r1 c2r1 c2r1 c2r1"
"Ginformation Ginformation Ginformation Ginformation Ginformation Ginformation Ginformation"
"Gline Gline Gline Gline Gline Gline Gline"
"Glist Glist Glist Glist Glist Glist Glist"
"c3r1 c3r1 c3r1 c3r1 c3r1 c3r1 c3r1"
;

grid-template-rows: /* nedover */

3vh /* c1r1 */

auto /* GbackBtn */

auto /* title */

2vh /* c2r1 */

auto /* Ginformation */

2vh /* line */

1fr /* Glist */

90px /* c3r1 */
;

grid-template-columns: /* bortover */
12.5vw auto 1fr auto 1fr auto 12.5vw;
}



/* end of grid */



/* elements */

#GbackBtn > #backBtn {
margin-right: 20px;
margin-left: 20px;
}


#Gtitle>#title {
font-size: 32px;
}

#title, #name, #smallTitle, #list {
margin-right: 20px;
margin-left: 20px;
}

#Glist > #list {

}

#Ginformation > #information {
font-size: 15px;
margin-bottom: 2vh;
word-break: keep-all;
}

#Gline > #line {
margin-left: 20px;
margin-right: 20px;
}


/* end of elements */



/* spacing & other */


#page > #c1r1 {
grid-area: c1r1;
}

#page > #GbackBtn {
grid-area: GbackBtn;
}

#page > #Gtitle {
grid-area: Gtitle;
margin-bottom: 4vh;
}

#page > #c2r1 {
grid-area: c2r1;
}

#page > #Ginformation {
grid-area: Ginformation;
}

#page > #Glist {
grid-area: Glist;
overflow-y: auto;
}

#page > #c3r1 {
grid-area: c3r1;
}

#page > #Gline {
grid-area: Gline;
}

#c2r1, #c3r1, #Gline, #Ginformation, #Glist {
background-color: var(--main-backgroundColor2);
}


/* end of spacing & other */



/* values for mobile & desktop */


#title {
color:var(--main-headerTextColor);
font-weight: bold;
font-family: var(--main-font-Family-Verdana);
}

#information {
margin-left: 20px;
margin-right: 20px;
color:var(--main-textColorDark);
font-family: var(--main-font-Family-Verdana);
}

#line {
opacity: 40%;
border: var(--main-lineBorder);
}

#c1r1 {
border-top: var(--main-borderHeader);
}

#c2r1 {
/*border-top: 1px #75757585 solid;*/
border-top: var(--main-border);
}

/* end of mobile & desktop */