footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: var(--main-backgroundColor3);
text-align: center;
max-height: var(--main-footerIconHeight);
padding-top: var(--main-footerHeightTop);
padding-bottom: var(--main-footerHeightBottom);
border-top: var(--main-border);
}

#feed, #explore, #account  {
height: var(--main-footerIconHeight);
cursor: pointer;
display: inline-block;
}

#feed {
float: left;
margin-left: 12.5vw;
}

#account {
float: right;
margin-right: 12.5vw;
}

#footerInfo {
font-size: 12px;
text-align: center;
}