/* elements, grid and other for mobile */

/*@media only screen and (max-width: 1024px) {*/ /* 768px var før, men passer bedre med 1024px for ipad */

/* grid */


.userTable {
display: grid;
width: 100vw;
grid-template-areas:

"Glifts Glifts Glifts Glifts Glifts Glifts Glifts"
"GlineLifts GlineLifts GlineLifts GlineLifts GlineLifts GlineLifts GlineLifts"
"GbadgesLifts GbadgesLifts GbadgesLifts GbadgesLifts GbadgesLifts GbadgesLifts GbadgesLifts"
"c8r1 c8r1 c8r1 c8r1 c8r1 c8r1 c8r1"

"Ggoals Ggoals Ggoals Ggoals Ggoals Ggoals Ggoals"
"GlineGoals GlineGoals GlineGoals GlineGoals GlineGoals GlineGoals GlineGoals"
"GbadgesGoals GbadgesGoals GbadgesGoals GbadgesGoals GbadgesGoals GbadgesGoals GbadgesGoals"
"c9r1 c9r1 c9r1 c9r1 c9r1 c9r1 c9r1"

"Gtrainingsplit Gtrainingsplit Gtrainingsplit Gtrainingsplit Gtrainingsplit Gtrainingsplit Gtrainingsplit"
"GlineTrainingsplit GlineTrainingsplit GlineTrainingsplit GlineTrainingsplit GlineTrainingsplit GlineTrainingsplit GlineTrainingsplit"
"GbadgesTrainingsplit GbadgesTrainingsplit GbadgesTrainingsplit GbadgesTrainingsplit GbadgesTrainingsplit GbadgesTrainingsplit GbadgesTrainingsplit"
"c10r1 c10r1 c10r1 c10r1 c10r1 c10r1 c10r1"
"GmemberSince GmemberSince GmemberSince GmemberSince GmemberSince GmemberSince GmemberSince"
;

grid-template-rows: /* nedover */

50px /* Glifts */

15px /* GlineLifts */

auto /* GbadgesLifts */

0px /* c8r1 */


50px /* Ggoals */

15px /* GlineGoals */

auto /* GbadgesGoals */

0px /* c9r1 */


50px /* Gtrainingsplit */

15px /* GlineTrainingsplit */

auto /* GbadgesTrainingsplit */

0px /* c10r1 */

auto /* GmemberSince */
;

grid-template-columns: /* bortover */
12vw 30px 1fr 30px 1fr 30px 12vw;
}



/* end of grid */



/* elements */

#Glifts > #lifts {
}

#GlineLifts > #lineLifts {
margin-left: 20px;
margin-right: 20px;
}

#GbadgesLifts > #badgesLifts {
}

#Ggoals > #goals {
}

#GlineGoals > #lineGoals {
margin-left: 20px;
margin-right: 20px;
}

#badgesGoals > #badgesGoals {
}

#Gtrainingsplit > #trainingsplit {
word-break: keep-all;
}

#GlineTrainingsplit > #lineTrainingsplit {
margin-left: 20px;
margin-right: 20px;
}

#GbadgesTrainingsplit > #badgesTrainingsplit {
}

#lineLifts, #lineGoals, #lineTrainingsplit {
border: var(--main-lineBorder);
opacity: 40%;
margin-top: 10px;
margin-bottom: 10px;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}

#badgesLifts, #badgesGoals, #badgesTrainingsplit {
margin-left: 12px;
margin-right: 12px;
margin-top: 5px;
margin-bottom: 35px;
}

#lifts, #goals, #trainingsplit {
font-size: 20px;
margin-left: 20px;
margin-right: 20px;
color:var(--main-textColorDark);
font-weight: bold;
font-family: var(--main-font-Family-Verdana);
}

#GmemberSince > #memberSince{
font-size: 14px;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 20px;
margin-right: 20px;
text-align: center;
color:var(--main-textColorDark);
font-family: var(--main-font-Family-Verdana);
}

/* end of elements */



/* spacing & other */

.userTable > #Glifts {
grid-area: Glifts;
}

.userTable > #GlineLifts {
grid-area: GlineLifts;
}

.userTable > #GbadgesLifts {
grid-area: GbadgesLifts;
}

.userTable > #c8r1 {
grid-area: c8r1;
}

.userTable > #Ggoals {
grid-area: Ggoals;
}

.userTable > #GlineGoals {
grid-area: GlineGoals;
}

.userTable > #GbadgesGoals {
grid-area: GbadgesGoals;
}

.userTable > #c9r1 {
grid-area: c9r1;
}

.userTable > #Gtrainingsplit {
grid-area: Gtrainingsplit;
}

.userTable > #GlineTrainingsplit {
grid-area: GlineTrainingsplit;
}

.userTable > #GbadgesTrainingsplit {
grid-area: GbadgesTrainingsplit;
}

.userTable > #c10r1 {
grid-area: c10r1;
}

.userTable > #GmemberSince {
grid-area: GmemberSince;
}

#GbadgesLifts, #GbadgesGoals, #GbadgesTrainingsplit {
overflow-x: scroll;
}

/* end of spacing & other */

/*}*/


.changeFilterSelect {
font-size: 20px;
/*color: var(--main-accountOwnerColor);*/
color: var(--main-textColorDark);
/*font-weight: bold;*/
font-family: var(--main-font-Family-Verdana);
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
border: none;
outline: none;
background-color: var(--main-backgroundColor2);
}


.trainingsplitButton {
word-break: keep-all;
white-space: nowrap;
font-size: 14px;
font-weight: bold;
font-family: var(--main-font-Family-Verdana);
margin-right: 10px;
background-color: var(--main-backgroundColor1);
color: white;
border-radius: 8px;
border: 1px var(--main-backgroundColor1) solid;
box-shadow: var(--main-boxShadow);

height: 30px;
width: fit-content;
}

.trainingsplitSelect {
font-size: 18px;
/*color: var(--main-accountOwnerColor);*/
color: var(--main-textColorDark);
/*font-weight: bold;*/
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
border: none;
outline: none;
background-color: var(--main-backgroundColor2);
}

.trainingsplitNameInput, .trainingsplitSetsInput, .trainingsplitRepsInput, .trainingsplitInput {
font-size: 18px;
color: var(--main-textColorDark);
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
border: none;
outline: none;
background-color: var(--main-backgroundColor2);
}

.trainingsplitSetsInput, .trainingsplitRepsInput {
width: 36px;
}

.trainingsplitSetsInput{
text-align: right;
}

.trainingsplitRepsInput{
text-align: left;
}

.trainingsplitInput{
width: 42px;
text-align: right;
}

#trainingsplitDiv {
word-break: keep-all;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 20px;
font-size: 18px;
}

.trainingsplitLine {
margin-top: 2.5px;
margin-bottom: 5px;
}

.trainingsplitSmallLine {
margin-top: 2.5px;
margin-bottom: 5px;
opacity: 50%;
margin-left: 2.5px;
margin-right: 2.5px;
}

.trainingsplitListRow {
margin-left: 10px;
margin-right: 10px;
}

.trainingsplitInline {
display: inline;
}

.infoTable {
text-align: left;
border-collapse: collapse;
}

.cTd {
padding-left: 20px;
}

.medals {
height: 26px;
width: 26px;

outline-style: none; 
-webkit-touch-callout: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.medalIconGold {
fill: #FFD700;
}

.medalsCount {
font-family: var(--main-font-Family-Verdana);
fill: var(--main-headerTextColor);
font-size: 20px;
font-weight:bold;
}