/* elements for mobile & desktop */


#title, #gym, #info {
color:var(--main-headerTextColor);
font-weight: bold;
font-family: var(--main-font-Family-Verdana);
}

#gym, #info{
opacity: 85%;
}

#settings {
float: right;
margin-top: 10px;
word-break: keep-all;
white-space: nowrap;
}

.settingsBtn {
margin-right: 20px;
word-break: keep-all;
font-size: 14px; /* 16px før */
font-weight: bold;
font-family: var(--main-font-Family-Verdana);

background-color: var(--main-backgroundColor1);
color: var(--main-textColorLight);
border-radius: 8px;
border: 1px var(--main-backgroundColor1) solid;
box-shadow: var(--main-boxShadow);

height: 30px; /* 35px før */
width: fit-content;
}

#feed, #leaderboards, #account  {
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}

#c1r1 {
border-top: var(--main-borderHeaderTop);
}

#Gsettings, #GsmallTitle {
/*border-top: 1px #75757585 solid;*/
border-top: var(--main-border);
}


/* end of mobile & desktop */