/* elements, grid and other for mobile */

@media only screen and (max-width: 1024px) { /* 768px var før, men passer bedre med 1024px for ipad */

/* grid */


body>#page {
overflow-y: auto;
display: grid;
width: 100vw;
height: 100vh;
grid-template-areas:

"c1r1 c1r1 c1r1 c1r1 c1r1 c1r1 c1r1"
"Gtitle Gtitle Gtitle Gtitle Gtitle Gtitle Gtitle"
"Ggym Ggym Ggym Ggym Ggym Ggym Ggym"
"Ginfo Ginfo Ginfo Ginfo Ginfo Ginfo Ginfo"
"c2r1 c2r1 c2r1 c2r1 c2r1 c2r1 c2r1"
"Gsettings Gsettings Gsettings Gsettings Gsettings Gsettings Gsettings"

"c3r1 c3r1 c3r1 c3r1 c3r1 c3r1 c3r1"
"GuserGrid GuserGrid GuserGrid GuserGrid GuserGrid GuserGrid GuserGrid"

"c1r2 c1r2 c1r2 c1r2 c1r2 c1r2 c1r2"
"c2r2 Gfeed c3r2 Gleaderboards c4r2 Gaccount c5r2"
"c6r2 c6r2 c6r2 c6r2 c6r2 c6r2 c6r2"
;

grid-template-rows: /* nedover */

3vh /* c1r1 */

50px /* Gtitle */

auto /* Ggym */

auto /* info */

10px /* c2r1 */

50px /* Gsettings */

10px /* c3r1 */

1fr /* GuserGrid */

var(--main-footerHeightTop) /* c1r2 */

var(--main-footerIconHeight) /* Glinks */

var(--main-footerHeightBottom) /* c2r2 */
;

grid-template-columns: /* bortover */
12vw auto 1fr auto 1fr auto 12vw;
}



/* end of grid */



/* elements */


#Gtitle > #title {

}

#Ggym > #gym {
min-height: 6vh;
}

#Ginfo > #info {
min-height: 4.10vh;
margin-top: 10px;
}

#GuserGrid > #userGrid{

}

#title {
font-size: 26px;
}

#gym {
font-size: 18px;
}

#title, #gym, #smallTitle, #badges, #today, #peopleWorkoutTxt {
margin-right: 20px;
margin-left: 20px;
}


/* end of elements */



/* spacing & other */


#page > #c1r1 {
grid-area: c1r1;
}


#page > #Gtitle {
grid-area: Gtitle;
}

#page > #Ggym {
grid-area: Ggym;
}

#page > #Ginfo {
grid-area: Ginfo;
}

#page > #c2r1 {
grid-area: c2r1;
}

#page > #Gsettings {
grid-area: Gsettings;
}

#page > #c3r1 {
grid-area: c3r1;
}

#page > #GuserGrid {
grid-area: GuserGrid;
overflow-y: scroll;
overflow-x: hidden;
}



#page > #c1r2 {
grid-area: c1r2;
}

#page > #c2r2 {
grid-area: c2r2;
}

#page > #Gfeed {
grid-area: Gfeed;
}

#page > #c3r2 {
grid-area: c3r2;
}

#page > #Gleaderboards {
grid-area: Gleaderboards;
}

#page > #c4r2 {
grid-area: c4r2;
}

#page > #Gaccount {
grid-area: Gaccount;
}

#page > #c5r2 {
grid-area: c5r2;
}

#page > #c6r2 {
grid-area: c6r2;
}


#Gsettings, #c3r1, #GuserGrid {
background-color: var(--main-backgroundColor2);
}

#c1r2, #c2r2, #Gfeed, #c3r2, #Gleaderboards, #c4r2, #Gaccount, #c5r2, #c6r2 {
background-color: var(--main-backgroundColor3);
}



/* end of spacing & other */

}