:root {
--main-footerHeightTop: 14px; /* 17.5px før */ /*index/leaderboards/account*/
--main-footerIconHeight: var(--main-footerIconSize); /*index/leaderboards/account*/
--main-footerHeightBottom: 14px; /* 22.5px før */ /*index/leaderboards/account*/
--main-footerIconSize: 27px; /* 28px før */
}


/* IOS Design Cheat Sheet: https://kapeli.com/cheat_sheets/iOS_Design.docset/Contents/Resources/Documents/index */

@media
/* iPhone 12 Pro Max */
only screen
and (device-width : 428px)
and (device-height : 926px)
,
/* iPhone XS Max, iPhone 11 Pro Max */
only screen
and (device-width : 414px)
and (device-height : 896px)
,
/* iPhone 12, iPhone 12 Pro */
only screen
and (device-width : 390px)
and (device-height : 844px)
,
/* iPhone XR, iPhone 11 */
only screen
and (device-width : 414px)
and (device-height : 896px)
,
/* iPhone X, iPhone XS, iPhone 11 Pro */
only screen
and (device-width : 375px)
and (device-height : 812px)
{
:root {
--main-footerHeightBottom: 40px
}
}