:root {
--main-font-Family-Verdana: Verdana, Geneva, Tahoma, sans-serif;
--main-font-Family-Arial: Arial, Helvetica, sans-serif;


/* DEFAULT LIGHT VALUES */

--default-light-lineBorder: 1px #757575 solid;
--default-light-border: 1px #75757585 solid;
--default-light-border2: 0.75px #92929285 solid;

--default-light-backgroundColor2: #F0F0F0;
--default-light-backgroundColor3: #ffffff;

--default-light-headerTextColor: white;
--default-light-textColorLight: white;
--default-light-textColorDark: black;
--default-light-textColorBadges: white;

--default-light-iconsActiveColor: #231f20;
--default-light-iconsDefaultColor: #8D8D8D;

--default-light-emptyBadgeColor: #8d8d8d;
--default-light-emptyBadgeShadow: #8d8d8d70;
--default-light-emptyBadgeBorderColor: white;

/* END OF DEFAULT LIGHT VALUES */


/* DEFAULT DARK VALUES */

--default-dark-lineBorder: 1px #ffffff solid;
--default-dark-border: 1px #75757585 solid;
--default-dark-border2: 0.75px #92929285 solid;

--default-dark-backgroundColor2: #2b2b2b;
--default-dark-backgroundColor3: #252525; /* gammel farge: 353535 */

--default-dark-headerTextColor: white;
--default-dark-textColorLight: white;
--default-dark-textColorDark: white;
--default-dark-textColorBadges: white;

--default-dark-iconsActiveColor: #e0e0e0;
--default-dark-iconsDefaultColor: #808080;

--default-dark-emptyBadgeColor: #6d6d6d;
--default-dark-emptyBadgeShadow: #72727270;
--default-dark-emptyBadgeBorderColor: white;

/* END OF DEFAULT DARK VALUES */
}




/* LIGHT THEME VALUES */

.defaultColorTheme-light {
--main-headerBackground:  #327a94;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #3c93b3;
--main-backgroundColorRGBLowOpacity: #3c93b340;
--main-boxShadow: 4px 4px var(--main-backgroundColorRGBLowOpacity);

--main-accountOwnerColor: var(--main-backgroundColor1);



--main-lineBorder: var(--default-light-lineBorder);
--main-border: var(--default-light-border);
--main-border2: var(--default-light-border2);

--main-backgroundColor2: var(--default-light-backgroundColor2);
--main-backgroundColor3: var(--default-light-backgroundColor3);

--main-headerTextColor: var(--default-light-headerTextColor);
--main-textColorLight: var(--default-light-textColorLight);
--main-textColorDark: var(--default-light-textColorDark);
--main-textColorBadges: var(--default-light-textColorBadges);

--main-iconsActiveColor: var(--default-light-iconsActiveColor);
--main-iconsDefaultColor: var(--default-light-iconsDefaultColor);

--main-emptyBadgeColor: var(--default-light-emptyBadgeColor);
--main-emptyBadgeShadow: var(--default-light-emptyBadgeShadow);
--main-emptyBadgeBorderColor: var(--default-light-emptyBadgeBorderColor);

}

.blueColorTheme-light {
--main-headerBackground:  #3247bb;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #3a53e2;
--main-backgroundColorRGBLowOpacity: #3a53e240;
--main-boxShadow: 4px 4px var(--main-backgroundColorRGBLowOpacity);

--main-accountOwnerColor: var(--main-backgroundColor1);



--main-lineBorder: var(--default-light-lineBorder);
--main-border: var(--default-light-border);
--main-border2: var(--default-light-border2);

--main-backgroundColor2: var(--default-light-backgroundColor2);
--main-backgroundColor3: var(--default-light-backgroundColor3);

--main-headerTextColor: var(--default-light-headerTextColor);
--main-textColorLight: var(--default-light-textColorLight);
--main-textColorDark: var(--default-light-textColorDark);
--main-textColorBadges: var(--default-light-textColorBadges);

--main-iconsActiveColor: var(--default-light-iconsActiveColor);
--main-iconsDefaultColor: var(--default-light-iconsDefaultColor);

--main-emptyBadgeColor: var(--default-light-emptyBadgeColor);
--main-emptyBadgeShadow: var(--default-light-emptyBadgeShadow);
--main-emptyBadgeBorderColor: var(--default-light-emptyBadgeBorderColor);
}


.default_fullColorTheme-light {
--main-headerBackground:  #e6e6e6;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #363636;
--main-backgroundColorRGBLowOpacity: #0D2E4140;
--main-boxShadow: 4px 4px var(--main-backgroundColorRGBLowOpacity);

--main-accountOwnerColor: var(--main-backgroundColor1);



--main-lineBorder: 1px #ffffff solid;
--main-border: 1px #d7e3eb90 solid;
--main-border2: 0.75px #c9dde985 solid;

--main-backgroundColor2: #e6e6e6;
--main-backgroundColor3: #e6e6e6;

--main-headerTextColor: black;
--main-textColorLight: white;
--main-textColorDark: black;
--main-textColorBadges: white;

--main-iconsActiveColor: #000000;
--main-iconsDefaultColor: #808080;

--main-emptyBadgeColor: #8d8d8d;
--main-emptyBadgeShadow: #8d8d8d70;
--main-emptyBadgeBorderColor: white;
}


.blue_fullColorTheme-light {
--main-headerBackground:  #2e42af;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #314ad4;
--main-backgroundColorRGBLowOpacity: #3a53e240;
--main-boxShadow: 4px 4px var(--main-backgroundColorRGBLowOpacity);

--main-accountOwnerColor: var(--main-backgroundColor1);



--main-lineBorder: 1px #ffffff solid;
--main-border: 1px #d7e3eb90 solid;
--main-border2: 0.75px #c9dde985 solid;

--main-backgroundColor2: #989fdb;
--main-backgroundColor3: #b5bae4;

--main-headerTextColor: white;
--main-textColorLight: white;
--main-textColorDark: #04273d;
--main-textColorBadges: white;

--main-iconsActiveColor: #083d5e;
--main-iconsDefaultColor: #8188c2;

--main-emptyBadgeColor: #6a6fa1;
--main-emptyBadgeShadow: #585b7a70;
--main-emptyBadgeBorderColor: white;
}

/* END OF LIGHT THEME VALUES */


/* DARK THEME VALUES */
.defaultColorTheme-dark {
--main-headerBackground:  #1c4553;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #265f72;
--main-backgroundColorRGBLowOpacity: #265f7240;
--main-boxShadow: 4px 4px var(--main-backgroundColorRGBLowOpacity);

--main-accountOwnerColor: #30738b;



--main-lineBorder: var(--default-dark-lineBorder);
--main-border: var(--default-dark-border);
--main-border2: var(--default-dark-border2);

--main-backgroundColor2: var(--default-dark-backgroundColor2);
--main-backgroundColor3: var(--default-dark-backgroundColor3);

--main-headerTextColor: var(--default-dark-headerTextColor);
--main-textColorLight: var(--default-dark-textColorLight);
--main-textColorDark: var(--default-dark-textColorDark);
--main-textColorBadges: var(--default-dark-textColorBadges);

--main-iconsActiveColor: var(--default-dark-iconsActiveColor);
--main-iconsDefaultColor: var(--default-dark-iconsDefaultColor);

--main-emptyBadgeColor: var(--default-dark-emptyBadgeColor);
--main-emptyBadgeShadow: var(--default-dark-emptyBadgeShadow);
--main-emptyBadgeBorderColor: var(--default-dark-emptyBadgeBorderColor);
}

.blueColorTheme-dark {
--main-headerBackground:  #202b6b;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #293797;
--main-backgroundColorRGBLowOpacity: #29379740;
--main-boxShadow: 4px 4px var(--main-backgroundColorRGBLowOpacity);

--main-accountOwnerColor: #4154c0;



--main-lineBorder: var(--default-dark-lineBorder);
--main-border: var(--default-dark-border);
--main-border2: var(--default-dark-border2);

--main-backgroundColor2: var(--default-dark-backgroundColor2);
--main-backgroundColor3: var(--default-dark-backgroundColor3);

--main-headerTextColor: var(--default-dark-headerTextColor);
--main-textColorLight: var(--default-dark-textColorLight);
--main-textColorDark: var(--default-dark-textColorDark);
--main-textColorBadges: var(--default-dark-textColorBadges);

--main-iconsActiveColor: var(--default-dark-iconsActiveColor);
--main-iconsDefaultColor: var(--default-dark-iconsDefaultColor);

--main-emptyBadgeColor: var(--default-dark-emptyBadgeColor);
--main-emptyBadgeShadow: var(--default-dark-emptyBadgeShadow);
--main-emptyBadgeBorderColor: var(--default-dark-emptyBadgeBorderColor);
}


.default_fullColorTheme-dark {
--main-headerBackground:  #3d8ec4;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #8ba9bd;
--main-backgroundColorRGBLowOpacity: #586e7c40;
--main-boxShadow: 4px 4px var(--main-backgroundColorRGBLowOpacity);

--main-accountOwnerColor: #135f92;



--main-lineBorder: 1px #ffffff solid;
--main-border: 1px #e6e6e685 solid;
--main-border2: 0.75px #dfdfdf85 solid;

--main-backgroundColor2: #586d7e;
--main-backgroundColor3: #5e84a0;

--main-headerTextColor: white;
--main-textColorLight: white;
--main-textColorDark: white;
--main-textColorBadges: white;

--main-iconsActiveColor: #ffffff;
--main-iconsDefaultColor: #747474;

--main-emptyBadgeColor: #6d6d6d;
--main-emptyBadgeShadow: #72727270;
--main-emptyBadgeBorderColor: white;
}


.blue_fullColorTheme-dark {
--main-headerBackground:  #09314b;/*linear-gradient(to bottom right, #78CFF0, #094E5C);*/
--main-bodyBackgroundColor: var(--main-headerBackground); /* #78CFF0 */
--main-backgroundColor1: #0c3f61;
--main-backgroundColorRGBLowOpacity: #0c3f6140;
--main-boxShadow: 4px 4px var(--main-backgroundColorRGBLowOpacity);

--main-accountOwnerColor: #135f92;



--main-lineBorder: 1px #ffffff solid;
--main-border: 1px #e6e6e685 solid;
--main-border2: 0.75px #dfdfdf85 solid;

--main-backgroundColor2: #1e2830;
--main-backgroundColor3: #161e24;

--main-headerTextColor: white;
--main-textColorLight: white;
--main-textColorDark: white;
--main-textColorBadges: white;

--main-iconsActiveColor: #ffffff;
--main-iconsDefaultColor: #747474;

--main-emptyBadgeColor: #1d394b;
--main-emptyBadgeShadow: #12202970;
--main-emptyBadgeBorderColor: #82aac2;
}

/* END OF DARK THEME VALUES */